@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-size: inherit;
  font-weight: 500;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  color: #676767;
  background-color: #F9F9F9;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1297px;
  padding: 0 24px;
  margin: 0 auto;
}
@media (max-width: 1224px) {
  [class*=__container] {
    max-width: 936px;
    padding: 0 20px;
  }
}
@media (max-width: 936px) {
  [class*=__container] {
    max-width: 767px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: 560px;
    padding: 0 20px;
  }
}
@media (max-width: 560px) {
  [class*=__container] {
    max-width: 375px;
    padding: 0 10px;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
}

.btn {
  display: flex;
  padding: 0 25px;
  min-height: 62px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #6C5FBC;
  border-radius: 12.412px;
  color: #F9F9F9;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  transition: all 0.6s ease;
}
.btn:hover {
  background: #3b3851;
}
@media (max-width: 1224px) {
  .btn {
    font-size: 11.6px;
    min-height: 42px;
  }
}
@media (max-width: 767px) {
  .btn {
    padding: 0 15px;
  }
}

.btn-ghost {
  display: flex;
  padding: 0 25px;
  min-height: 62px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #6C5FBC;
  border-radius: 12.4px;
  border: 1.5px solid #6C5FBC;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  transition: all 0.6s ease;
}
.btn-ghost:hover {
  background: #3b3851;
}
@media (max-width: 1224px) {
  .btn-ghost {
    font-size: 11.6px;
    min-height: 42px;
  }
}

.header__body {
  padding: 34px 0 18px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CBCBCB;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: 103px;
}
.header__menu {
  display: flex;
}
.header__block {
  display: flex;
  margin-left: 452px;
}
.header__login {
  font-size: 17.8px;
  font-weight: 500;
  line-height: 150%;
  color: #606060;
}
.header__btn {
  font-family: Inter;
  border-radius: 12.7px;
  margin-left: 25px;
}
.header__burger {
  display: none;
}

.nav-menu__item:not(:last-child) {
  margin-right: 38px;
}
.nav-menu__link {
  color: #606060;
  font-size: 17.8px;
  font-weight: 500;
  line-height: 150%;
}

.offer__body {
  padding: 119px 0 120px;
  display: flex;
  position: relative;
}
.offer__info {
  display: flex;
  flex-direction: column;
}
.offer__image {
  padding: 30px 0px 0 90px;
  position: relative;
}
.offer__image::before {
  content: "";
  position: absolute;
  background: url("../img/offer/lines1.svg") no-repeat center center/contain;
  width: 42px;
  height: 28px;
  top: -60px;
  right: -40px;
}
.offer__image::after {
  content: "";
  position: absolute;
  background: url("../img/offer/lines2.svg") no-repeat center center/contain;
  width: 39px;
  height: 37px;
  bottom: -50px;
  left: 35px;
}

.info {
  flex: 1 1 auto;
}
.info__text {
  color: rgba(32, 31, 31, 0.2);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2px;
  padding-left: 60px;
  position: relative;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.info__text::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 1px;
  opacity: 0.2;
  background: #201F1F;
  top: 8px;
  left: 0;
}
.info__title {
  color: #201F1F;
  font-size: 75px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3px;
  margin-bottom: 16px;
}
.info__title_mobile {
  display: none;
}
.info__title span {
  color: #5C4EAE;
}
.info__block {
  font-size: 18px;
  font-weight: 400;
  line-height: 155.5%;
  opacity: 0.7;
  margin-bottom: 53px;
  width: 90%;
}
.info__block span {
  color: #6155AE;
  font-weight: 500;
}
.info__button {
  display: flex;
  margin-bottom: 33px;
  align-items: center;
}
.info__raiting {
  display: flex;
  align-items: center;
}
.info__raiting span {
  color: var(--blue-gray-700, #334155);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.7;
  text-transform: uppercase;
}
.info__name {
  margin-right: 20px;
}
.info__stars {
  display: flex;
  margin-right: 9px;
}
.info__star:not(:last-child) {
  margin-right: 4px;
}

.button-offer__btn-ghost {
  margin-left: 18px;
}

.image {
  flex: 0 0 55%;
}
.image__img {
  position: relative;
  width: 422px;
  height: 424px;
  border-radius: 424px;
  background: linear-gradient(137deg, #6C5FBC 0%, #5144A0 100%);
  display: block;
  margin: 0 auto;
}
.image__img::after {
  content: "";
  position: absolute;
  background: url(../img/offer/plate.png) no-repeat center center/contain;
  width: 430px;
  height: 445px;
  top: 8px;
  left: -28px;
}
.image__img::before {
  content: "";
  position: absolute;
  background: url("../img/offer/arrow.svg") no-repeat center center/contain;
  width: 101px;
  height: 98px;
  top: 50px;
  right: -60px;
}
.image__top {
  position: absolute;
  top: -30px;
  right: 0;
  border-radius: 16.4px;
  box-shadow: -9.843755722px 12.3046951294px 20.5078258514px rgba(0, 0, 0, 0.15);
}
.image__bottom {
  position: absolute;
  bottom: -15px;
  left: 70px;
  border-radius: 16.4px;
  box-shadow: 13.4074401855px -16.7593002319px 27.9321689606px rgba(0, 0, 0, 0.15);
}

.block {
  background: #5C4EAE;
}
.block__row {
  padding: 49px 152px;
  display: flex;
  margin: 0px -132px;
}
.block__column {
  padding: 0px 88px;
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__quantly {
  font-family: Public Sans;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 125%;
  color: #fff;
  margin-bottom: 10.8px;
}
.block__text {
  color: #C5BFED;
  text-align: center;
  font-family: Inter;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 150%;
}

.benefits__body {
  padding: 120px 30px 120px 111px;
  border-bottom: 1px solid #CBCBCB;
  display: flex;
}
.benefits__image {
  flex: 0 0 50%;
}
.benefits__info {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits__title {
  font-family: Poppins;
  font-size: 51px;
  font-weight: 700;
  line-height: 114%;
  color: #18181B;
  margin-bottom: 63px;
}
.benefits__title span {
  color: #6C5FBC;
}
.benefits__items {
  margin-bottom: 66px;
}
.benefits__item {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #676767;
  position: relative;
  padding-left: 20px;
}
.benefits__item:not(:last-child) {
  margin-bottom: 28px;
}
.benefits__item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #676767;
  top: 10px;
  left: 0;
}
.benefits__btn {
  display: flex;
  width: 186px;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  position: relative;
}
.benefits__btn::after {
  content: "";
  position: absolute;
  background: url("../img/benefits/arrow.svg") no-repeat center center/contain;
  width: 164px;
  height: 164px;
  bottom: -90px;
  right: -140px;
}
.benefits__btn img {
  margin-left: 15px;
}

.restaurants__body {
  padding: 100px 0 120px;
  border-bottom: 1px solid #CBCBCB;
}
.restaurants__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 56.8%;
  margin-bottom: 85px;
  text-align: center;
}
.restaurants__title span {
  color: #6C5FBC;
}
.restaurants__cards {
  display: flex;
  margin-bottom: 66px;
}
.restaurants__link {
  color: #ACADB9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 226%;
  letter-spacing: -0.1px;
  display: flex;
  justify-content: flex-end;
}
.restaurants__link img {
  margin-left: 10px;
}

.cards__card {
  flex: 0 1 30.333%;
  border-radius: 30.23px;
  box-shadow: 5.9456415176px 71.347694397px 35.6738471985px 0px rgba(229, 229, 229, 0.7);
}
.cards__card:not(:last-child) {
  margin-right: 30px;
}

.card__img {
  border-radius: 30.023px 30.023px 0px 0px;
}
.card__block {
  display: flex;
  background: #fff;
  border-radius: 0px 0px 30.023px 30.023px;
  padding: 11px 17px 18px 33px;
}
.card__info {
  font-size: 12.8px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 150%;
  display: inline-block;
  padding: 5px;
  border-radius: 5.4px;
}
.card__info_card1, .card__info_card3 {
  color: #DAA31A;
  background-color: #F7EDD0;
}
.card__info_card2 {
  color: #FB471D;
  background-color: #F7C5BA;
}
.card__title {
  color: #323142;
  font-size: 25.8px;
  font-weight: 600;
  line-height: 163%;
}
.card__row {
  display: flex;
}
.card__text, .card__grade {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  line-height: 133%;
}
.card__text {
  margin-right: 6.5px;
}
.card__icon {
  margin-right: 6.5px;
}
.card__bookmark {
  display: block;
  margin-left: auto;
  margin-top: auto;
  background: #DBD9EE;
  padding: 8px 10px;
  border-radius: 40.085px;
}

.dishes__body {
  padding: 100px 0 120px;
}
.dishes__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 56.8%;
  margin-bottom: 85px;
  text-align: center;
}
.dishes__title span {
  color: #6C5FBC;
}
.dishes__cards {
  margin-bottom: 65px;
  display: flex;
}
.dishes__card {
  flex: 0 1 20%;
  border-radius: 34.581px;
  box-shadow: 6.8484177589px 82.1810150146px 41.0905075073px 0px rgba(229, 229, 229, 0.7);
}
.dishes__card:not(:last-child) {
  margin-right: 30px;
}
.dishes__link {
  color: #ACADB9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 226%;
  letter-spacing: -0.1px;
  display: flex;
  justify-content: flex-end;
}
.dishes__link img {
  margin-left: 10px;
}

.dish {
  padding: 20px;
}
.dish__heart {
  display: block;
  margin-left: auto;
  margin-bottom: -15px;
}
.dish__info {
  font-size: 12.8px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 150%;
  display: inline-block;
  padding: 5px;
  border-radius: 5.4px;
}
.dish__info_dish2, .dish__info_dish5 {
  color: #FB471D;
  background-color: #F7C5BA;
}
.dish__info_dish1, .dish__info_dish4 {
  color: #DAA31A;
  background-color: #F7EDD0;
}
.dish__info_dish3 {
  color: #309D5B;
  background-color: rgba(51, 172, 100, 0.231372549);
}
.dish__title {
  font-size: 23px;
  font-weight: 600;
  line-height: 162.5%;
  color: #323142;
}
.dish__row {
  display: flex;
  margin-bottom: 13px;
}
.dish__text, .dish__grade {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  line-height: 133%;
}
.dish__text {
  margin-right: 6.5px;
}
.dish__icon {
  margin-right: 6.5px;
}
.dish__check {
  display: flex;
  justify-content: space-between;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 700;
  line-height: 155%;
  color: #8E97A6;
}
.dish__check strong {
  font-size: 26px;
  font-weight: 700;
  color: #323142;
}
.dish__add {
  border-radius: 8.93px;
  background: #323142;
  padding: 12px 14px;
}

@media screen and (max-width: 1224px) {
  .header__nav {
    margin-left: 37px;
  }
  .header__block {
    margin-left: 322px;
  }
  .header__btn {
    min-height: 44px;
    font-size: 12.7px;
  }
  .header__login {
    font-size: 12.7px;
  }
  .header .logo__img {
    width: 80px;
  }
  .header .nav-menu__link {
    font-size: 12.7px;
  }
  .offer__body {
    padding: 84px 0 91px;
  }
  .offer .info__text {
    font-size: 10.7px;
    margin-bottom: 12.6px;
  }
  .offer .info__title {
    font-size: 53px;
    margin-bottom: 11.4px;
  }
  .offer .info__block {
    font-size: 12.8px;
    margin-bottom: 37.4px;
  }
  .offer .info__button {
    margin-bottom: 23.5px;
  }
  .offer .info__stars {
    width: 68px;
    height: 11px;
  }
  .offer .info__name {
    width: 87.5px;
    height: 21.5px;
  }
  .offer .info__raiting span {
    font-size: 11.4px;
  }
  .offer__image::before {
    width: 30px;
    height: 17px;
    top: -35px;
    right: -35px;
  }
  .offer__image::after {
    width: 27.1px;
    height: 23.5px;
    bottom: -40px;
    left: 45px;
  }
  .offer .image__img {
    width: 300px;
    height: 301.5px;
    border-radius: 301.5px;
  }
  .offer .image__img::after {
    width: 305px;
    height: 315px;
    top: 5px;
    left: -20px;
  }
  .offer .image__img::before {
    width: 71.8px;
    height: 69px;
    top: 40px;
    right: -45px;
  }
  .offer .image__top {
    width: 233px;
    height: 63.6px;
    border-radius: 11.7px;
    top: -15px;
  }
  .offer .image__bottom {
    width: 147px;
    height: 146px;
    border-radius: 11.9px;
  }
  .block__row {
    padding: 40px 80px;
    margin: 0 -94px;
  }
  .block__column {
    padding: 0 70px;
  }
  .block__quantly {
    font-size: 30.72px;
    margin-bottom: 7px;
  }
  .block__text {
    font-size: 10.2px;
  }
  .benefits__img {
    width: 216px;
    height: 433px;
  }
  .benefits__title {
    font-size: 36px;
    margin-bottom: 45px;
  }
  .benefits__items {
    margin-bottom: 46px;
  }
  .benefits__item {
    font-size: 14px;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 19px;
  }
  .benefits__btn::after {
    width: 104px;
    height: 61px;
    bottom: -40px;
    right: -80px;
  }
  .restaurants__body {
    padding: 71px 0 85px;
  }
  .restaurants__title {
    font-size: 32px;
    margin-bottom: 60px;
  }
  .restaurants__cards {
    margin-bottom: 46px;
  }
  .restaurants__link {
    font-size: 14px;
    letter-spacing: -0.071px;
  }
  .restaurants__link img {
    width: 2%;
  }
  .restaurants .cards__card {
    border-radius: 21.35px;
    box-shadow: 4.2280101776px 50.7361297607px 25.3680648804px 0px rgba(229, 229, 229, 0.7);
  }
  .restaurants .card__img {
    width: 282px;
  }
  .restaurants .card__block {
    padding: 9px 12px 12px 24px;
  }
  .restaurants .card__info {
    font-size: 9px;
    border-radius: 3.84px;
    padding: 2px 3px;
  }
  .restaurants .card__title {
    font-size: 18px;
  }
  .restaurants .card__text,
  .restaurants .card__grade {
    font-size: 13.75px;
  }
  .restaurants .card__icon {
    width: 11%;
  }
  .restaurants .card__bookmark {
    width: 13%;
  }
  .dishes__card:not(:last-child) {
    margin-right: 21px;
  }
  .dishes__link {
    font-size: 14.2px;
  }
  .dishes__link img {
    width: 2%;
  }
  .dishes .dish {
    padding: 12px;
  }
  .dishes .dish__heart {
    margin-bottom: 0;
  }
  .dishes .dish__img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .dishes .dish__info {
    font-size: 8px;
    padding: 0px 3px;
  }
  .dishes .dish__title {
    font-size: 16.4px;
  }
  .dishes .dish__text,
  .dishes .dish__grade {
    font-size: 12.3px;
  }
  .dishes .dish__icon {
    width: 14%;
    margin-right: 4px;
  }
  .dishes .dish__check {
    font-size: 13.4px;
  }
  .dishes .dish__check strong {
    font-size: 18.4px;
  }
  .dishes .dish__add {
    width: 17%;
    padding: 5px 6px;
  }
}
@media screen and (max-width: 936px) {
  .header__block {
    margin-left: 180px;
  }
  .offer__image {
    padding-left: 0;
  }
  .offer__image::before {
    right: -15px;
  }
  .offer__image::after {
    bottom: -5px;
    left: 5px;
  }
  .offer .image__top {
    right: 10px;
  }
  .offer .image__bottom {
    bottom: 15px;
    left: 30px;
  }
  .block__row {
    padding: 40px 20px;
    margin: 0 -20px;
  }
  .block__column {
    padding: 10px;
  }
  .benefits__body {
    padding: 90px 10px;
  }
  .restaurants__body {
    padding: 60px 0;
  }
  .restaurants .card__block {
    padding: 9px;
  }
  .restaurants .card__img {
    width: 220px;
  }
  .restaurants .card__bookmark {
    width: 16%;
  }
}
@media screen and (max-width: 767px) {
  .header__block {
    margin-left: 50px;
  }
  .header__btn {
    min-height: 37px;
    margin-left: 20px;
  }
  .header .nav-menu__item:not(:last-child) {
    margin-right: 18px;
  }
  .offer__body {
    flex-direction: column;
  }
  .offer__info {
    margin-bottom: 50px;
  }
  .offer__image {
    padding: 0;
  }
  .offer__image::after {
    bottom: -65px;
  }
  .offer .image__bottom {
    bottom: -45px;
  }
  .block__row {
    padding: 40px 0;
    margin: 0 -10px;
  }
  .benefits__btn {
    font-size: 11.5px;
  }
  .benefits__btn img {
    width: 15%;
  }
  .restaurants__cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .restaurants__link img {
    width: 3%;
  }
  .restaurants .cards__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .restaurants .card__img {
    width: 100%;
  }
  .restaurants .card__bookmark {
    width: 9%;
  }
}
@media screen and (max-width: 560px) {
  .header__nav {
    margin-left: 0;
  }
  .header__block {
    justify-content: center;
    margin-top: 30px;
    margin-left: 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 28px;
    height: 22px;
    z-index: 1000;
    cursor: pointer;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #6e6565;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -80%);
  }
  .header__burger.active span {
    transform: scale(0) translate(0px, -80%);
  }
  .header__burger.active::before {
    top: 50%;
    transform: rotate(-40deg) translate(0px, -80%);
  }
  .header__burger.active::after {
    bottom: 50%;
    transform: rotate(40deg) translate(0px, 80%);
  }
  .header__navigation {
    position: fixed;
    overflow: auto;
    top: 80px;
    left: -100%;
    width: 100%;
    height: auto;
    background: #FFF;
    border-radius: 19px;
    box-shadow: 4.7878785133px 7.9797987938px 23.9393959045px 0.7979797125px rgba(108, 95, 188, 0.12);
    padding: 20px 30px;
    transition: left 0.3s ease;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__navigation.active {
    left: 0;
  }
  .header .nav__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .header .nav-menu {
    justify-content: center;
  }
  .offer__body {
    padding: 57px 0 75px;
  }
  .offer__info {
    margin-bottom: 78px;
  }
  .offer .info__text {
    font-size: 9.2px;
    margin-bottom: 5px;
    text-align: center;
    color: #201F1F;
  }
  .offer .info__text::before {
    width: 33.2px;
    height: 0.6px;
    opacity: 1;
    left: 70px;
  }
  .offer .info__title {
    display: none;
  }
  .offer .info__title_mobile {
    display: block;
    font-size: 46.2px;
    margin-bottom: 15.77px;
    text-align: center;
  }
  .offer .info__block {
    font-size: 11.1px;
    margin-bottom: 21px;
    text-align: center;
    width: 100%;
  }
  .offer .info__button {
    justify-content: center;
  }
  .offer .info__raiting {
    justify-content: center;
  }
  .offer__image::before {
    width: 20px;
    height: 11px;
    right: -10px;
    top: -40px;
  }
  .offer__image::after {
    width: 18px;
    height: 16px;
    left: 15px;
    bottom: -60px;
  }
  .offer .image__top {
    width: 156px;
    height: 42px;
    top: -30px;
  }
  .offer .image__bottom {
    width: 98px;
    height: 97px;
  }
  .offer .image__img {
    width: 200px;
    height: 201px;
    border-radius: 201px;
  }
  .offer .image__img::after {
    width: 203px;
    height: 210px;
    left: -12px;
  }
  .offer .image__img::before {
    width: 47px;
    height: 46px;
    top: 10px;
    right: -20px;
  }
  .block__row {
    flex-direction: column;
    padding: 95px 50px;
  }
  .block__column {
    position: relative;
  }
  .block__column:not(:last-child) {
    margin-bottom: 120px;
  }
  .block__column:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    opacity: 0.15;
    background: #C5C5C5;
    bottom: -60px;
    left: 0;
  }
  .benefits__body {
    flex-direction: column-reverse;
    padding: 67px 10px;
    align-items: center;
  }
  .benefits__btn {
    margin: 0 auto;
    margin-bottom: 110px;
  }
  .benefits__btn::after {
    width: 204px;
    height: 41px;
    right: 0;
    left: -130px;
    transform: rotate(110deg);
    bottom: -60px;
  }
  .benefits__title {
    text-align: center;
  }
  .restaurants__title {
    line-height: 150%;
  }
  .restaurants .cards__card {
    box-shadow: 4.7295765877px 56.7549171448px 28.3774585724px 0px rgba(229, 229, 229, 0.7);
  }
  .restaurants .card__bookmark {
    width: 11%;
  }
}