@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-size: inherit;
  font-weight: 500;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  color: #676767;
  background-color: #F9F9F9;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}
@media (max-width: 1259.9px) {
  [class*=__container] {
    max-width: 896px;
    padding: 0 10px;
  }
}
@media (max-width: 895.9px) {
  [class*=__container] {
    min-width: 768px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    min-width: 561px;
    padding: 0 20px;
  }
}
@media (max-width: 560px) {
  [class*=__container] {
    min-width: 320px;
    padding: 0 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 56.8%;
  margin-bottom: 85px;
  text-align: center;
}
@media (max-width: 1259.9px) {
  h3 {
    font-size: 32px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1259.9px) {
  h3 {
    font-size: 30px;
  }
}

.btn {
  display: flex;
  padding: 0 26.8px;
  min-height: 62px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #6C5FBC;
  border-radius: 12.412px;
  color: #F9F9F9;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  transition: all 0.6s ease;
}
.btn:hover {
  background: #3b3851;
}
@media (max-width: 1259.9px) {
  .btn {
    font-size: 11.6px;
    min-height: 42px;
  }
}
@media (max-width: 767px) {
  .btn {
    padding: 0 15px;
  }
}

.btn-ghost {
  display: flex;
  padding: 0 25px;
  min-height: 62px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #6C5FBC;
  border-radius: 12.4px;
  border: 1.5px solid #6C5FBC;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  transition: all 0.6s ease;
}
.btn-ghost:hover {
  background: #3b3851;
  color: #fff;
}
@media (max-width: 1259.9px) {
  .btn-ghost {
    font-size: 11.6px;
    min-height: 42px;
  }
}

.header {
  transition: all 1s ease;
}
.header__body {
  padding: 34px 0 18px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CBCBCB;
  justify-content: space-between;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: 103px;
}
.header__menu {
  display: flex;
}
.header__block {
  display: flex;
  margin-left: 451px;
}
.header__login {
  font-size: 17.8px;
  font-weight: 500;
  line-height: 150%;
  color: #606060;
}
.header__btn {
  font-family: Inter;
  font-size: 17.8px;
  border-radius: 12.7px;
  margin-left: 35px;
}
.header__burger {
  display: none;
}

.header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.logo {
  transition: all 0.6s ease;
  overflow: hidden;
}
.logo:hover {
  transform: scale(1.05);
}

.nav-menu__item {
  transition: all 0.6s ease;
  overflow: hidden;
}
.nav-menu__item:not(:last-child) {
  margin-right: 53.49px;
}
.nav-menu__item:hover {
  transform: scale(1.1);
}
.nav-menu__link {
  color: #606060;
  font-size: 17.8px;
  font-weight: 500;
  line-height: 150%;
}

.offer__body {
  padding: 119px 0 120px;
  display: flex;
  position: relative;
}
.offer__info {
  display: flex;
  flex-direction: column;
}
.offer__image {
  padding: 30px 0px 0 90px;
  position: relative;
}
.offer__image::before {
  content: "";
  position: absolute;
  background: url("../img/offer/lines1.svg") no-repeat center center/contain;
  width: 42px;
  height: 28px;
  top: -60px;
  right: -40px;
}
.offer__image::after {
  content: "";
  position: absolute;
  background: url("../img/offer/lines2.svg") no-repeat center center/contain;
  width: 39px;
  height: 37px;
  bottom: -50px;
  left: 35px;
}

.info {
  flex: 1 1 auto;
}
.info__text {
  color: rgba(32, 31, 31, 0.2);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2px;
  padding-left: 60px;
  position: relative;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.info__text::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 1px;
  opacity: 0.2;
  background: #201F1F;
  top: 8px;
  left: 0;
}
.info__title {
  color: #201F1F;
  font-size: 75px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3px;
  margin-bottom: 16px;
  transition: all 0.8s ease;
  transform: scale(0);
  opacity: 0;
}
.info__title._active {
  transform: scale(1);
  opacity: 1;
}
.info__title_mobile {
  display: none;
}
.info__title span {
  color: #5C4EAE;
}
.info__block {
  font-size: 18px;
  font-weight: 400;
  line-height: 155.5%;
  opacity: 0.7;
  margin-bottom: 53px;
  width: 90%;
}
.info__block span {
  color: #6155AE;
  font-weight: 500;
}
.info__button {
  display: flex;
  margin-bottom: 33px;
  align-items: center;
}
.info__raiting {
  display: flex;
  align-items: center;
}
.info__raiting span {
  color: var(--blue-gray-700, #334155);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.7;
  text-transform: uppercase;
}
.info__name {
  margin-right: 20px;
}
.info__stars {
  display: flex;
  margin-right: 9px;
}
.info__star:not(:last-child) {
  margin-right: 4px;
}

.button-offer__btn-ghost {
  margin-left: 18px;
}

.image {
  flex: 0 0 55%;
}
.image__img {
  position: relative;
  width: 422px;
  height: 424px;
  border-radius: 424px;
  background: linear-gradient(137deg, #6C5FBC 0%, #5144A0 100%);
  display: block;
  margin: 0 auto;
}
.image__img::after {
  content: "";
  position: absolute;
  background: url(../img/offer/plate.png) no-repeat center center/contain;
  width: 430px;
  height: 445px;
  top: 8px;
  left: -28px;
}
.image__img::before {
  content: "";
  position: absolute;
  background: url("../img/offer/arrow.svg") no-repeat center center/contain;
  width: 101px;
  height: 98px;
  top: 50px;
  right: -60px;
}
.image__img._active {
  animation: rotate 30s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.image__top {
  position: absolute;
  top: -30px;
  right: 0;
  border-radius: 16.4px;
  box-shadow: -9.843755722px 12.3046951294px 20.5078258514px rgba(0, 0, 0, 0.15);
  transform: translate(50%, -120%);
  opacity: 0;
  transition: all 0.8s ease;
}
.image__top._active {
  transform: translate(0, 0);
  opacity: 1;
}
.image__bottom {
  position: absolute;
  bottom: -15px;
  left: 70px;
  border-radius: 16.4px;
  box-shadow: 13.4074401855px -16.7593002319px 27.9321689606px rgba(0, 0, 0, 0.15);
  transform: translate(50%, -120%);
  opacity: 0;
  transition: all 0.8s ease;
}
.image__bottom._active {
  transform: translate(0, 0);
  opacity: 1;
}

.block {
  background: #5C4EAE;
}
.block__row {
  padding: 49px 152px;
  display: flex;
  margin: 0px -132px;
}
.block__column {
  padding: 0px 88px;
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__quantly {
  font-family: Public Sans;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 125%;
  color: #fff;
  margin-bottom: 10.8px;
}
.block__text {
  color: #C5BFED;
  text-align: center;
  font-family: Inter;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 150%;
}

.benefits__body {
  padding: 120px 30px 120px 111px;
  border-bottom: 1px solid #CBCBCB;
  display: flex;
}
.benefits__image {
  flex: 0 0 50%;
  transform: translate(-120%, 0);
  transition: all 0.6s ease;
}
.benefits__image._active {
  transform: translate(0, 0);
}
.benefits__info {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits__title {
  font-family: Poppins;
  font-size: 51px;
  font-weight: 700;
  line-height: 114%;
  color: #18181B;
  margin-bottom: 63px;
  transition: all 0.8s ease;
  transform: scale(0);
  opacity: 0;
}
.benefits__title._active {
  transform: scale(1);
  opacity: 1;
}
.benefits__title span {
  color: #6C5FBC;
}
.benefits__items {
  margin-bottom: 66px;
}
.benefits__items li {
  transform: translate(120%, 0);
  transition: all 0.6s ease;
}
.benefits__items._active li {
  transform: translate(0, 0);
}
.benefits__items._active li:nth-child(1) {
  transition: all 0.8s ease 0s;
}
.benefits__items._active li:nth-child(2) {
  transition: all 0.8s ease 0.5s;
}
.benefits__item {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #676767;
  position: relative;
  padding-left: 20px;
}
.benefits__item:not(:last-child) {
  margin-bottom: 28px;
}
.benefits__item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #676767;
  top: 10px;
  left: 0;
}
.benefits__btn {
  display: flex;
  width: 186px;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  position: relative;
  transition: all 0.6s ease;
  transform: scale(0);
  opacity: 0;
}
.benefits__btn::after {
  content: "";
  position: absolute;
  background: url("../img/benefits/arrow.svg") no-repeat center center/contain;
  width: 164px;
  height: 164px;
  bottom: -90px;
  right: -140px;
}
.benefits__btn._active {
  transform: scale(1);
  opacity: 1;
  transition: all 1s ease 0.6s;
}
.benefits__btn img {
  margin-left: 15px;
}

.restaurants__body {
  padding: 100px 0 120px;
  border-bottom: 1px solid #CBCBCB;
}
.restaurants__title span {
  color: #6C5FBC;
}
.restaurants__cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 66px;
  transition: all 1.5s ease;
  transform: translate(-150%, 0%);
}
.restaurants__cards._active {
  transition: all 1.5s ease 0.5s;
  transform: translate(0, 0);
}
.restaurants__link {
  color: #ACADB9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 226%;
  letter-spacing: -0.1px;
  display: flex;
  justify-content: flex-end;
}
.restaurants__link img {
  margin-left: 10px;
}

.cards__card {
  border-radius: 30.23px;
  box-shadow: 5.9456415176px 71.347694397px 35.6738471985px 0px rgba(229, 229, 229, 0.7);
  transition: all 0.6s ease;
}
.cards__card:not(:last-child) {
  margin-right: 30px;
}
.cards__card:hover {
  transform: scale(1.05);
}

.card__img {
  border-radius: 30.023px 30.023px 0px 0px;
}
.card__block {
  display: flex;
  background: #fff;
  border-radius: 0px 0px 30.023px 30.023px;
  padding: 11px 17px 18px 33px;
}
.card__info {
  font-size: 12.8px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 150%;
  display: inline-block;
  padding: 5px;
  border-radius: 5.4px;
}
.card__info_card1, .card__info_card3 {
  color: #DAA31A;
  background-color: #F7EDD0;
}
.card__info_card2 {
  color: #FB471D;
  background-color: #F7C5BA;
}
.card__title {
  color: #323142;
  font-size: 25.8px;
  font-weight: 600;
  line-height: 163%;
}
.card__row {
  display: flex;
}
.card__text, .card__grade {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  line-height: 133%;
}
.card__text {
  margin-right: 6.5px;
}
.card__icon {
  margin-right: 6.5px;
}
.card__bookmark {
  display: block;
  margin-left: auto;
  margin-top: auto;
  background: #DBD9EE;
  padding: 8px 10px;
  border-radius: 40.085px;
}

.dishes__body {
  padding: 100px 0 120px;
  border-bottom: 1px solid #CBCBCB;
}
.dishes__title span {
  color: #6C5FBC;
}
.dishes__cards {
  margin-bottom: 65px;
  display: flex;
  transition: all 0.8s ease;
  transform: translate(0%, 20%);
}
.dishes__cards._active {
  transform: translate(0, 0);
}
.dishes__card {
  flex: 0 1 20%;
  border-radius: 34.581px;
  box-shadow: 6.8484177589px 82.1810150146px 41.0905075073px 0px rgba(229, 229, 229, 0.7);
  transition: all 0.8s ease;
}
.dishes__card:not(:last-child) {
  margin-right: 30px;
}
.dishes__card:hover {
  transform: scale(1.05);
}
.dishes__link {
  color: #ACADB9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 226%;
  letter-spacing: -0.1px;
  display: flex;
  justify-content: flex-end;
}
.dishes__link img {
  margin-left: 10px;
}

.dish {
  padding: 20px;
}
.dish__heart {
  display: block;
  margin-left: auto;
  margin-bottom: -15px;
}
.dish__info {
  font-size: 12.8px;
  font-weight: 400;
  font-family: Poppins;
  line-height: 150%;
  display: inline-block;
  padding: 5px;
  border-radius: 5.4px;
}
.dish__info_dish2, .dish__info_dish5 {
  color: #FB471D;
  background-color: #F7C5BA;
}
.dish__info_dish1, .dish__info_dish4 {
  color: #DAA31A;
  background-color: #F7EDD0;
}
.dish__info_dish3 {
  color: #309D5B;
  background-color: rgba(51, 172, 100, 0.231372549);
}
.dish__title {
  font-size: 23px;
  font-weight: 600;
  line-height: 162.5%;
  color: #323142;
}
.dish__row {
  display: flex;
  margin-bottom: 13px;
}
.dish__text, .dish__grade {
  color: #8E97A6;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 400;
  line-height: 133%;
}
.dish__text {
  margin-right: 6.5px;
}
.dish__icon {
  margin-right: 6.5px;
}
.dish__check {
  display: flex;
  justify-content: space-between;
  font-family: Manrope;
  font-size: 19px;
  font-weight: 700;
  line-height: 155%;
  color: #8E97A6;
}
.dish__check strong {
  font-size: 26px;
  font-weight: 700;
  color: #323142;
}
.dish__add {
  border-radius: 8.93px;
  background: #323142;
  padding: 12px 14px;
}

.slider__body {
  padding: 116px 0 110px;
}
.slider__title span {
  color: #6C5FBC;
}
.slider__swiper {
  padding: 10px 15px;
}

.swiper__cards {
  display: flex;
  padding-bottom: 20px;
}

.swiper-slide,
.slide {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 38px 43px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(221, 221, 221);
}
.swiper-slide__row,
.slide__row {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  display: none;
}
.swiper-slide__img,
.slide__img {
  border-radius: 41.8px;
  margin-right: 20.9px;
}
.swiper-slide__info,
.slide__info {
  display: flex;
  flex-direction: column;
}
.swiper-slide__name,
.slide__name {
  color: #030314;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 500;
  font-size: 20.893px;
  line-height: 150%;
}
.swiper-slide__text,
.slide__text {
  color: #5E5D5D;
  font-family: Quicksand;
  font-size: 16.7px;
  font-weight: 500;
  line-height: 156%;
}
.swiper-slide__icon,
.slide__icon {
  margin-left: auto;
}
.swiper-slide__review,
.slide__review {
  color: #636363;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 145%;
  margin-bottom: 39px;
}
.swiper-slide__rait,
.slide__rait {
  width: 138px;
}

.swiper-slide-active .slide__row {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 28px);
  left: 52%;
  width: 48%;
  text-align: start;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px);
}

.swiper-pagination-bullet {
  width: 20%;
  border-radius: var(--swiper-pagination-bullet-border-radius, 13%);
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  background: var(--swiper-pagination-bullet-inactive-color, #6C5FBC);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #6C5FBC;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 45%);
  bottom: var(--swiper-scrollbar-bottom, 34px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 11px);
  width: calc(100% - 3 * var(--swiper-scrollbar-sides-offset, 15%));
  border-radius: 50px;
  background-color: #6C5FBC;
  opacity: 0.2;
  display: none;
}

.swiper-scrollbar-drag {
  background-color: #030314;
}

.coupon__body {
  padding: 87px 0 153.6px;
}
.coupon__row {
  background: #6C5FBC url("../img/coupon/fon.png");
  border-radius: 21.33px;
  padding: 26px 50px;
  display: flex;
  justify-content: space-between;
}
.coupon__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.coupon__text {
  color: #FFF;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.coupon__image {
  margin-top: 37px;
  margin-bottom: -95px;
}
.coupon__img._active {
  animation: rotate 30s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.form__row {
  display: flex;
  border-radius: 10.122px;
  background-color: #FFF;
  align-items: center;
  padding-right: 10px;
  width: 453px;
  justify-content: space-between;
}

.form__row.error {
  border: 2px solid red;
}

.coupon-email {
  min-height: 48.4px;
  padding: 0 5px;
  border-radius: 10.122px;
  color: #878787;
  font-size: 16.3px;
  font-weight: 400;
  letter-spacing: 0.488px;
}

.coupon-btn {
  border-radius: 8.002px;
  background: #6C5FBC;
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F7F8FA;
  padding: 10px 18px;
  font-family: Poppins;
  font-size: 14.7px;
  font-weight: 500;
  letter-spacing: 0.315px;
  text-transform: uppercase;
}

.form__error-message {
  display: none;
}

.form__error-message.active {
  display: block;
  color: #fff;
  font-size: 16.3px;
  font-weight: 400;
  letter-spacing: 0.488px;
  margin-top: 10px;
}

.message {
  padding: 20px 40px;
  background: #6C5FBC;
  position: fixed;
  overflow: auto;
  top: 154px;
  right: -100%;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #fff;
}
.message__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message__title {
  color: #fff;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 500;
  line-height: 150%;
}
.message__text {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.message.active {
  z-index: 100;
  right: 144px;
  animation-name: modal-open;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes modal-open {
  0% {
    right: -100%;
  }
  20% {
    right: 144px;
  }
  50% {
    right: 144px;
  }
  80% {
    right: 144px;
  }
  100% {
    right: -100%;
  }
}

.footer {
  background: #EAEAEA;
}
.footer__body {
  padding: 103px 0 81px;
}
.footer__top-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2d0d0;
  padding-bottom: 22px;
}
.footer__menu {
  display: flex;
}
.footer__down-row {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
}
.footer__policy {
  color: #999;
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 147.1%;
}
.footer__social {
  display: flex;
  align-items: center;
}

.footer.nav-menu__item:not(:last-child) {
  margin-right: 70px;
}
.footer.nav-menu__link {
  color: #999;
  font-family: Inter;
  font-size: 17.8px;
  font-weight: 500;
  line-height: 150%;
}

.social__icon {
  position: relative;
}
.social__icon:not(:last-child) {
  margin-right: 54px;
}
.social__icon:last-child {
  margin-right: 12px;
}
.social__name {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #fff;
  padding: 8px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.social__name::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #6C5FBC;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .social__icon:hover .social__name {
  background-color: #6C5FBC;
  top: -45px;
  left: -30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.topic__body {
  padding-bottom: 217px;
}
.topic__title span {
  color: #6C5FBC;
}
.topic__title {
  transition: all 0.8s ease;
  transform: scale(0);
  opacity: 0;
}
.topic__title._active {
  transform: scale(1);
  opacity: 1;
}
.topic__block {
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.topic__card {
  border-radius: 15.855px;
  background: #FFF;
  box-shadow: 50px 55px 50px 10px rgba(229, 229, 229, 0.7);
  padding: 25px 19px 27px;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  transition: all 0.8s ease;
  transform: scale(0);
  opacity: 0;
}
.topic__card._active {
  transform: scale(1);
  opacity: 1;
}
.topic__card._active:hover {
  transform: scale(1.05);
}
.topic__pagination {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}
.topic__arrow:nth-child(1) {
  margin-right: 80px;
}
.topic__arrow_left.page-numbers {
  display: block;
  background: url("../img/topic/left_dark.svg") no-repeat center center/contain;
  width: 45px;
  height: 30px;
  transition: all 0.8s ease;
}
.topic__arrow_left.page-numbers:hover {
  transform: scale(1.1);
}
.topic__arrow_left.page-numbers.current {
  display: block;
  background: url("../img/topic/left_light.svg") no-repeat center center/contain;
  width: 45px;
  height: 30px;
  transition: all 0.8s ease;
}
.topic__arrow_left.page-numbers.current:hover {
  transform: scale(1.1);
}
.topic__arrow_right.page-numbers {
  display: block;
  background: url("../img/topic/right_dark.svg") no-repeat center center/contain;
  width: 45px;
  height: 30px;
  transition: all 0.8s ease;
}
.topic__arrow_right.page-numbers:hover {
  transform: scale(1.1);
}
.topic__arrow_right.page-numbers.current {
  display: block;
  background: url("../img/topic/right_light.svg") no-repeat center center/contain;
  width: 45px;
  height: 30px;
  transition: all 0.8s ease;
}
.topic__arrow_right.page-numbers.current:hover {
  transform: scale(1.1);
}

.blog-card__img {
  margin-bottom: 21.6px;
  border-radius: 12.236px;
}
.blog-card__title {
  font-size: 21.1px;
  font-weight: 600;
  line-height: 119%;
  margin-bottom: 20px;
}
.blog-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-card__block {
  display: flex;
}
.blog-card__date {
  text-transform: uppercase;
  color: #B7B4B4;
}

.login {
  display: flex;
}
.login__icon {
  margin-right: 11.4px;
  width: 43.7px;
}
.login__column p {
  color: #8D8D8D;
  font-size: 11.7px;
  font-weight: 400;
  line-height: 150%;
}
.login__column span {
  font-size: 17px;
  font-weight: 500;
  line-height: 153%;
}

.questions__body {
  padding: 0 50px 222px;
}
.questions__title {
  color: #323142;
  width: 408px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 97px;
  position: relative;
  transition: all 0.8s ease;
  transform: scale(0);
  opacity: 0;
}
.questions__title::before {
  content: "";
  position: absolute;
  background: url("../img/topic/line.svg") no-repeat center center/contain;
  width: 41px;
  height: 39px;
  top: -40px;
  right: -40px;
}
.questions__title span {
  color: #6C5FBC;
}
.questions__title._active {
  transform: scale(1);
  opacity: 1;
}
.questions__list {
  display: flex;
  flex-direction: column;
}
.questions__block {
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  transform: translate(-150%, 0%);
  border-bottom: 1px solid #ADADAD;
}
.questions__block:not(:first-child) {
  padding-top: 28px;
  padding-bottom: 16px;
}
.questions__block:first-child {
  padding-bottom: 16px;
}
.questions__block._active {
  transform: translate(0, 0);
}
.questions__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.questions__text {
  font-size: 23px;
  font-weight: 600;
  line-height: 252%;
  color: #323142;
}
.questions__btn {
  background: #6C5FBC;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
}
.questions__btn::before, .questions__btn::after {
  content: "";
  border: 1px solid #FFF;
  position: absolute;
  width: 15px;
  right: 7px;
  top: 14px;
  transition: transform 0.3s ease 0s;
}
.questions__btn::after {
  transform: rotate(-90deg);
}
.questions__answer {
  padding: 0 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
  display: none;
  margin-bottom: 10px;
}
.questions__answer.active {
  display: block;
}
.questions__row.active .questions__btn::after {
  transform: rotate(0deg);
}

.blog__body {
  padding: 126px 0 191px;
}
.blog__title {
  color: #252525;
  text-align: start;
  font-size: 37.4px;
  font-weight: 600;
  line-height: 119%;
  margin-bottom: 32px;
  transition: all 0.8s ease;
  transform: translate(-100%, 0%);
}
.blog__title._active {
  transform: translate(0%, 0%);
}
.blog__block {
  margin-bottom: 61.5px;
}
.blog__image {
  margin-bottom: 80px;
}
.blog__image-mobile {
  display: none;
}
.blog__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.blog__text, .blog__bar {
  display: flex;
  flex-direction: column;
}
.blog__bar {
  padding-left: 47px;
  padding-right: 14px;
}
.blog__text {
  padding-right: 75px;
  border-right: 1px solid #9B9B9B;
}
.blog__content:not(:last-child) {
  margin-bottom: 95px;
}
.blog__btn {
  display: flex;
  width: 245px;
  font-size: 20.3px;
  font-weight: 600;
  line-height: 125%;
  min-height: 80px;
  position: relative;
  transition: all 0.6s ease;
  transform: scale(0);
  opacity: 0;
}
.blog__btn._active {
  transform: scale(1);
  opacity: 1;
  transition: all 1s ease 0.6s;
}
.blog__btn img {
  margin-left: 15px;
}

.blog__block .login__icon {
  width: 55px;
}
.content__title {
  color: #252525;
  font-size: 33px;
  font-weight: 600;
  line-height: 135%;
  margin-bottom: 35px;
}
.content__text, .content__item {
  color: #252525;
  font-size: 22px;
  font-weight: 400;
  line-height: 202%;
}
.content__items {
  margin-top: 56px;
}
.content__item {
  position: relative;
  padding-left: 20px;
}
.content__item::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  background: #252525;
  top: 45%;
  left: 0;
}

.bar__title {
  color: #252525;
  font-size: 30px;
  font-weight: 600;
  line-height: 148%;
  margin-bottom: 34px;
}
.bar__card {
  width: 299px;
  padding: 21px 16.5px 23px;
  border-radius: 13.552px;
  box-shadow: 0px 0px 20px 20px rgba(197, 197, 197, 0.25);
  transition: all 0.8s ease;
  transform: translate(150%, 0%);
}
.bar__card:not(:last-child) {
  margin-bottom: 45px;
}
.bar__card._active {
  transform: translate(0, 0);
}

.bar .blog-card__img {
  width: 100%;
}

.bar__card .blog-card__date {
  font-size: 13.5px;
}

.bar .blog-card .login__icon {
  width: 37.4px;
  height: 37.4px;
}

.bar .blog-card .login__column p {
  font-size: 10.1px;
}

.bar .blog-card .login__column span {
  font-size: 14.5px;
}

@media screen and (max-width: 1259.9px) {
  .header__nav {
    margin-left: 37px;
  }
  .header__block {
    margin-left: 322px;
  }
  .header__btn {
    min-height: 44px;
    font-size: 12.7px;
    padding: 0 19px;
  }
  .header__login {
    font-size: 12.7px;
  }
  .header .logo__img {
    width: 80px;
  }
  .header .nav-menu__link {
    font-size: 12.7px;
  }
  .header .nav-menu__item:not(:last-child) {
    margin-right: 30px;
  }
  .offer__body {
    padding: 84px 0 91px;
  }
  .offer .info__text {
    font-size: 10.7px;
    margin-bottom: 12.6px;
  }
  .offer .info__title {
    font-size: 53px;
    margin-bottom: 11.4px;
  }
  .offer .info__block {
    font-size: 12.8px;
    margin-bottom: 37.4px;
  }
  .offer .info__button {
    margin-bottom: 23.5px;
  }
  .offer .info__stars {
    width: 68px;
    height: 11px;
  }
  .offer .info__name {
    width: 87.5px;
    height: 21.5px;
  }
  .offer .info__raiting span {
    font-size: 11.4px;
  }
  .offer__image::before {
    width: 30px;
    height: 17px;
    top: -35px;
    right: -35px;
  }
  .offer__image::after {
    width: 27.1px;
    height: 23.5px;
    bottom: -40px;
    left: 45px;
  }
  .offer .image__img {
    width: 300px;
    height: 301.5px;
    border-radius: 301.5px;
  }
  .offer .image__img::after {
    width: 305px;
    height: 315px;
    top: 5px;
    left: -20px;
  }
  .offer .image__img::before {
    width: 71.8px;
    height: 69px;
    top: 40px;
    right: -45px;
  }
  .offer .image__top {
    width: 233px;
    height: 63.6px;
    border-radius: 11.7px;
    top: -15px;
  }
  .offer .image__bottom {
    width: 147px;
    height: 146px;
    border-radius: 11.9px;
  }
  .block__row {
    padding: 40px 80px;
    margin: 0 -94px;
  }
  .block__column {
    padding: 0 70px;
  }
  .block__quantly {
    font-size: 30.72px;
    margin-bottom: 7px;
  }
  .block__text {
    font-size: 10.2px;
  }
  .benefits__img {
    width: 216px;
    height: 433px;
  }
  .benefits__title {
    font-size: 36px;
    margin-bottom: 45px;
  }
  .benefits__items {
    margin-bottom: 46px;
  }
  .benefits__item {
    font-size: 14px;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 19px;
  }
  .benefits__btn::after {
    width: 104px;
    height: 61px;
    bottom: -40px;
    right: -80px;
  }
  .restaurants__body {
    padding: 71px 0 85px;
  }
  .restaurants__cards {
    margin-bottom: 46px;
  }
  .restaurants__link {
    font-size: 14px;
    letter-spacing: -0.071px;
  }
  .restaurants__link img {
    width: 2%;
  }
  .restaurants .cards__card {
    border-radius: 21.35px;
    box-shadow: 4.2280101776px 50.7361297607px 25.3680648804px 0px rgba(229, 229, 229, 0.7);
  }
  .restaurants .card__img {
    width: 282px;
  }
  .restaurants .card__block {
    padding: 9px 12px 12px 24px;
  }
  .restaurants .card__info {
    font-size: 9px;
    border-radius: 3.84px;
    padding: 2px 3px;
  }
  .restaurants .card__title {
    font-size: 18px;
  }
  .restaurants .card__text,
  .restaurants .card__grade {
    font-size: 13.75px;
  }
  .restaurants .card__icon {
    width: 11%;
  }
  .restaurants .card__bookmark {
    width: 13%;
  }
  .dishes__card:not(:last-child) {
    margin-right: 21px;
  }
  .dishes__link {
    font-size: 14.2px;
  }
  .dishes__link img {
    width: 2%;
  }
  .dishes .dish {
    padding: 12px;
  }
  .dishes .dish__heart {
    width: 11%;
    margin-bottom: 0;
  }
  .dishes .dish__img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .dishes .dish__info {
    font-size: 8px;
    padding: 2px 3px;
  }
  .dishes .dish__title {
    font-size: 16.4px;
  }
  .dishes .dish__text,
  .dishes .dish__grade {
    font-size: 12.3px;
  }
  .dishes .dish__icon {
    width: 14%;
    margin-right: 4px;
  }
  .dishes .dish__check {
    font-size: 13.4px;
  }
  .dishes .dish__check strong {
    font-size: 18.4px;
  }
  .dishes .dish__add {
    width: 17%;
    padding: 5px 6px;
  }
  .slider__body {
    padding: 82px 0 134px;
  }
  .slider .slide {
    padding: 30px 27px;
  }
  .slider .slide__img {
    width: 21%;
  }
  .slider .slide__name {
    font-size: 15px;
  }
  .slider .slide__text {
    font-size: 12px;
  }
  .slider .slide__icon {
    width: 16%;
  }
  .slider .slide__review {
    font-size: 13px;
  }
  .slider .slide__rait {
    width: 98px;
  }
  .coupon__text {
    font-size: 49.8px;
    font-weight: 800;
  }
  .coupon__img {
    width: 196px;
  }
  .coupon .coupon-email {
    font-size: 11.6px;
    font-weight: 400;
  }
  .coupon .coupon-btn {
    font-size: 10.49px;
    font-weight: 500;
  }
  .footer__body {
    padding: 68px 0 57px;
  }
  .footer .logo__img {
    width: 80px;
  }
  .footer .nav-menu__link {
    font-size: 12.7px;
  }
  .footer .nav-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .footer__down-row {
    padding-top: 40px;
  }
  .footer__policy {
    font-size: 12px;
  }
  .footer .social__img {
    width: 70%;
  }
  .topic__body {
    padding-bottom: 124px;
  }
  .topic__block {
    justify-content: space-around;
  }
  .topic__pagination {
    margin-top: 30px;
  }
  .topic__arrow:nth-child(1) {
    margin-right: 56px;
  }
  .topic__arrow_left, .topic__arrow_right {
    height: 21px;
    width: 32px;
  }
  .questions__body {
    padding: 0 50px 158px;
  }
  .questions__row {
    margin-bottom: 3px;
  }
  .questions__text {
    font-size: 16px;
  }
  .questions__btn {
    width: 21px;
    height: 21px;
  }
  .questions__btn::before, .questions__btn::after {
    width: 10px;
    right: 5px;
    top: 10px;
  }
  .questions__answer {
    font-size: 14px;
    letter-spacing: 0.142px;
  }
  .blog__body {
    padding: 107px 0 119px;
  }
  .blog__title {
    font-size: 26.6px;
    margin-bottom: 26.4px;
  }
  .blog__image {
    width: 100%;
    margin-bottom: 56px;
  }
  .blog__text {
    padding-right: 53.4px;
  }
  .blog__content:not(:last-child) {
    margin-bottom: 71px;
  }
  .blog .content__title {
    font-size: 23.5px;
    margin-bottom: 24px;
  }
  .blog .content__text,
  .blog .content__item {
    font-size: 15.6px;
  }
  .blog .content__items {
    margin-top: 39.4px;
  }
  .blog__bar {
    padding-left: 33px;
  }
  .blog .bar__title {
    font-size: 21px;
    margin-bottom: 24px;
  }
  .blog .bar__card {
    width: 212px;
    padding: 15px 11px;
  }
  .blog .bar__card:not(:last-child) {
    margin-bottom: 43px;
  }
  .blog .bar__card .blog-card__img {
    margin-bottom: 13.2px;
  }
  .blog .bar__card .blog-card__title {
    font-size: 12.8px;
  }
  .blog .bar__card .blog-card__date {
    font-size: 9.7px;
  }
  .blog .bar .blog-card .login__icon {
    width: 26px;
    height: 26px;
  }
  .blog .bar .blog-card .login__column p {
    font-size: 7px;
  }
  .blog .bar .blog-card .login__column span {
    font-size: 10px;
  }
  .blog .blog__btn {
    width: 174px;
    min-height: 56.9px;
    font-size: 14.4px;
  }
  .blog .blog__btn img {
    width: 21px;
  }
}
@media screen and (max-width: 895.9px) {
  .header__block {
    margin-left: 180px;
  }
  .offer__image {
    padding-left: 0;
  }
  .offer__image::before {
    right: -15px;
  }
  .offer__image::after {
    bottom: -5px;
    left: 5px;
  }
  .offer .image__top {
    right: 10px;
  }
  .offer .image__bottom {
    bottom: 15px;
    left: 30px;
  }
  .block__row {
    padding: 40px 20px;
    margin: 0 -20px;
  }
  .block__column {
    padding: 10px;
  }
  .benefits__body {
    padding: 90px 10px;
  }
  .restaurants__body {
    padding: 60px 0;
  }
  .restaurants .card__block {
    padding: 9px;
  }
  .restaurants .card__img {
    width: 220px;
  }
  .restaurants .card__bookmark {
    width: 16%;
  }
  .dishes__body {
    padding: 60px 0;
  }
  .dishes .dish__heart {
    width: 11%;
  }
  .dishes .dish__heart {
    width: 13%;
  }
  .dishes .dish__add {
    width: 20%;
  }
  .coupon__row {
    padding: 26px 25px 46px;
  }
}
@media screen and (max-width: 767px) {
  .header__block {
    margin-left: 50px;
  }
  .header__btn {
    min-height: 37px;
    margin-left: 20px;
  }
  .header .nav-menu__item:not(:last-child) {
    margin-right: 18px;
  }
  .offer__body {
    flex-direction: column;
  }
  .offer__info {
    margin-bottom: 50px;
  }
  .offer__image {
    padding: 0;
  }
  .offer__image::after {
    bottom: -65px;
  }
  .offer .image__bottom {
    bottom: -45px;
  }
  .block__row {
    padding: 40px 0;
    margin: 0 -10px;
  }
  .benefits__btn {
    font-size: 11.5px;
  }
  .benefits__btn img {
    width: 15%;
  }
  .restaurants__cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .restaurants__link img {
    width: 3%;
  }
  .restaurants .cards__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .restaurants .card__img {
    width: 100%;
  }
  .restaurants .card__bookmark {
    width: 9%;
  }
  .dishes__cards {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 46px;
  }
  .dishes__card {
    flex: 0 1 35%;
    box-shadow: 4.8484177589px 50.1810150146px 20.0905075073px 0px rgba(229, 229, 229, 0.7);
  }
  .dishes__link img {
    width: 3%;
  }
  .dishes .dish {
    margin-right: 0;
  }
  .dishes .dish:nth-child(-n+2) {
    margin-bottom: 50px;
  }
  .dishes .dish:nth-child(odd) {
    margin-right: 50px;
  }
  .dishes .dish:last-child {
    display: none;
  }
  .dishes .dish__icon {
    width: 10%;
  }
  .dishes .dish__add {
    width: 15%;
  }
  .slider__body {
    padding: 60px 0;
  }
  .slider .slide__icon {
    display: none;
  }
  .coupon__row {
    padding: 26px 10px;
  }
  .coupon .form__row {
    width: 313px;
  }
  .coupon .coupon__image {
    margin-top: 7px;
    margin-bottom: -50px;
  }
  .coupon .coupon__img {
    width: 157px;
  }
  .footer__body {
    padding: 68px 0 57px;
  }
  .footer__top-row {
    padding-bottom: 20px;
  }
  .footer__down-row {
    padding-top: 40px;
  }
  .footer__policy {
    font-size: 12.1px;
    font-weight: 500;
  }
  .footer .logo__img {
    width: 80px;
  }
  .footer .nav-menu__item:not(:last-child) {
    margin-right: 20px;
  }
  .footer .nav-menu__link {
    font-size: 12.7px;
    font-weight: 500;
  }
  .footer .social__icon:not(:last-child) {
    margin-right: 20px;
  }
  .footer .social__icon:last-child {
    margin-right: 10px;
  }
  .footer .social__img {
    width: 15px;
    height: 15px;
  }
  .blog__body {
    padding: 80px 0;
  }
  .blog__text {
    padding-right: 25px;
  }
  .blog__bar {
    padding-left: 15px;
  }
  .blog__content:not(:last-child) {
    margin-bottom: 20px;
  }
  .blog .content__title {
    margin-bottom: 20px;
  }
  .blog .content__text,
  .blog .content__item {
    font-size: 12.7px;
  }
  .blog .content__items {
    margin-top: 20px;
  }
  .blog .bar__title {
    margin-bottom: 44px;
  }
  .blog .bar__card {
    width: 180px;
  }
  .blog .bar__card:not(:last-child) {
    margin-bottom: 55px;
  }
  .blog .blog__btn {
    min-height: 46px;
  }
}
@media screen and (max-width: 560px) {
  .header__nav {
    margin-left: 0;
  }
  .header__block {
    justify-content: center;
    margin-top: 30px;
    margin-left: 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 28px;
    height: 22px;
    z-index: 1000;
    cursor: pointer;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #6e6565;
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -80%);
  }
  .header__burger.active span {
    transform: scale(0) translate(0px, -80%);
  }
  .header__burger.active::before {
    top: 50%;
    transform: rotate(-40deg) translate(0px, -80%);
  }
  .header__burger.active::after {
    bottom: 50%;
    transform: rotate(40deg) translate(0px, 80%);
  }
  .header__navigation {
    position: fixed;
    overflow: auto;
    top: 80px;
    left: -100%;
    width: 100%;
    height: auto;
    background: #FFF;
    border-radius: 19px;
    box-shadow: 4.7878785133px 7.9797987938px 23.9393959045px 0.7979797125px rgba(108, 95, 188, 0.12);
    padding: 20px 30px;
    transition: left 0.3s ease;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header__navigation.active {
    left: 0;
    z-index: 100;
  }
  .header .nav__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .header .nav-menu {
    justify-content: center;
  }
  .offer__body {
    padding: 57px 0 75px;
  }
  .offer__info {
    margin-bottom: 78px;
  }
  .offer .info__text {
    font-size: 9.2px;
    margin-bottom: 5px;
    text-align: center;
    color: #201F1F;
  }
  .offer .info__text::before {
    width: 33.2px;
    height: 0.6px;
    opacity: 1;
    left: 70px;
  }
  .offer .info__title {
    display: none;
  }
  .offer .info__title_mobile {
    display: block;
    font-size: 46.2px;
    margin-bottom: 15.77px;
    text-align: center;
  }
  .offer .info__block {
    font-size: 11.1px;
    margin-bottom: 21px;
    text-align: center;
    width: 100%;
  }
  .offer .info__button {
    justify-content: center;
  }
  .offer .info__raiting {
    justify-content: center;
  }
  .offer__image::before {
    width: 20px;
    height: 11px;
    right: -10px;
    top: -40px;
  }
  .offer__image::after {
    width: 18px;
    height: 16px;
    left: 15px;
    bottom: -60px;
  }
  .offer .image__top {
    width: 156px;
    height: 42px;
    top: -30px;
  }
  .offer .image__bottom {
    width: 98px;
    height: 97px;
  }
  .offer .image__img {
    width: 200px;
    height: 201px;
    border-radius: 201px;
  }
  .offer .image__img::after {
    width: 203px;
    height: 210px;
    left: -12px;
  }
  .offer .image__img::before {
    width: 47px;
    height: 46px;
    top: 10px;
    right: -20px;
  }
  .block__row {
    flex-direction: column;
    padding: 95px 50px;
  }
  .block__column {
    position: relative;
  }
  .block__column:not(:last-child) {
    margin-bottom: 120px;
  }
  .block__column:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    opacity: 0.15;
    background: #C5C5C5;
    bottom: -60px;
    left: 0;
  }
  .benefits__body {
    flex-direction: column-reverse;
    padding: 67px 10px;
    align-items: center;
  }
  .benefits__btn {
    margin: 0 auto;
    margin-bottom: 110px;
  }
  .benefits__btn::after {
    width: 204px;
    height: 41px;
    right: 0;
    left: -130px;
    transform: rotate(110deg);
    bottom: -60px;
  }
  .benefits__title {
    text-align: center;
  }
  .restaurants__title {
    line-height: 150%;
  }
  .restaurants .cards__card {
    box-shadow: 4.7295765877px 56.7549171448px 28.3774585724px 0px rgba(229, 229, 229, 0.7);
  }
  .restaurants .card__bookmark {
    width: 11%;
  }
  .dishes__title {
    line-height: 120%;
    margin: 0 auto;
    margin-bottom: 61px;
  }
  .dishes__card {
    flex: 0 1 40%;
  }
  .dishes .dish:nth-child(-n+2) {
    margin-bottom: 40px;
  }
  .dishes .dish:nth-child(odd) {
    margin-right: 20px;
  }
  .dishes .dish__title {
    font-size: 15px;
  }
  .dishes .dish__icon {
    width: 13%;
  }
  .dishes .dish__add {
    width: 22%;
  }
  .slider__swiper {
    padding-bottom: 45px;
  }
  .slider .swiper-horizontal > .swiper-pagination-bullets,
  .slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0px);
    left: 5%;
    width: 90%;
  }
  .slider .swiper-pagination-bullet {
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 5px));
  }
  .slider .slide {
    padding: 25px 22px;
  }
  .slider .slide__row {
    margin-bottom: 19px;
  }
  .slider .slide__img {
    width: 19%;
    margin-right: 13px;
  }
  .slider .slide__icon {
    display: block;
    width: 15%;
  }
  .slider .slide__name {
    font-size: 12.5px;
  }
  .slider .slide__text {
    font-size: 10px;
  }
  .slider .slide__review {
    font-size: 10.7px;
  }
  .coupon__row {
    flex-direction: column;
    padding: 35px 5px;
    align-items: center;
    padding-bottom: 0;
    background: #6C5FBC;
  }
  .coupon__info {
    align-items: center;
  }
  .coupon__text {
    font-size: 41.4px;
    font-weight: 800;
    margin-bottom: 23px;
  }
  .coupon .form__row {
    width: 270px;
    margin-bottom: 27px;
    border-radius: 9.257px;
  }
  .coupon__image {
    margin-top: 0;
    margin-bottom: -95px;
  }
  .coupon .coupon-email {
    font-size: 10.5px;
    font-weight: 400;
  }
  .coupon .coupon-btn {
    padding: 10px 16px;
    font-size: 9.6px;
    letter-spacing: 0.288px;
    border-radius: 7.319px;
  }
  .coupon .form__error-message.active {
    font-size: 10px;
    margin-top: -15px;
  }
  .footer__body {
    padding: 55px 0 36px;
    position: relative;
  }
  .footer__logo {
    margin-bottom: 53px;
  }
  .footer__top-row {
    flex-direction: column;
    padding-left: 10px;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer .nav-menu__item {
    margin-bottom: 30px;
  }
  .footer__down-row {
    justify-content: center;
  }
  .footer__social {
    position: absolute;
    top: 65px;
    right: 0;
  }
  .topic__block {
    margin-top: 58px;
  }
  .topic__card {
    width: 80%;
    margin-bottom: 40px;
    padding: 17px 13px 18px;
  }
  .topic__arrow_left {
    display: none;
  }
  .topic .topic-card__column p {
    font-size: 8px;
    font-weight: 400;
  }
  .topic .topic-card__column span {
    font-size: 11px;
    font-weight: 500;
  }
  .topic .topic-card__title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 13px;
  }
  .topic .topic-card__date {
    font-size: 10px;
    font-weight: 500;
    line-height: 197%;
  }
  .questions__body {
    padding: 0 5px 100px;
  }
  .questions__title {
    width: 215px;
    font-size: 23px;
    margin-bottom: 67px;
  }
  .questions__text {
    font-size: 12.3px;
  }
  .questions__btn {
    width: 15px;
    height: 15px;
  }
  .questions__btn::before, .questions__btn::after {
    width: 7px;
    right: 4px;
    top: 7px;
  }
  .questions__answer {
    padding: 0 10px;
    font-size: 11px;
    letter-spacing: 0.11px;
  }
  .blog__body {
    padding: 69px 0 80px;
  }
  .blog__title {
    font-size: 22.4px;
    margin-bottom: 25px;
  }
  .blog__block {
    margin-bottom: 17px;
  }
  .blog__image {
    display: none;
  }
  .blog__image-mobile {
    display: block;
    width: 100%;
    margin-bottom: 54px;
  }
  .blog__bar {
    display: none;
  }
  .blog__text {
    padding-top: 69px;
    padding-right: 0;
    border-right: none;
    border-top: 1px solid #A6A6A6;
  }
  .blog__content:not(:last-child) {
    margin-bottom: 54px;
  }
  .blog__btn {
    width: 137px;
  }
  .blog .content__title {
    font-size: 17.4px;
  }
  .blog .content__text,
  .blog .content__item {
    font-size: 11.6px;
  }
}