.topic {

    &__body {
        padding-bottom: 217px;
    }

    &__title span {
        color: $bgBlue;
    }
    &__title{
        transition: all 0.8s ease;
        transform: scale(0);
        opacity: 0;
    }
    &__title._active {
        transform: scale(1);
        opacity: 1;
    }
    &__block {
        margin-top: 98px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all 0.5s ease;
        // transform: translate(-150%, 0%);
        // transform: scale(0);
        //     opacity: 0;
        
    }
    &__card {
        border-radius: 15.855px;
        background: #FFF;
        box-shadow: 50px 55px 50px 10px rgba(229, 229, 229, 0.70);
        padding: 25px 19px 27px;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        transition: all 0.8s ease;
        transform: scale(0);
        opacity: 0;
    }
    &__card._active {
        // transform: translate(0, 0);
        transform: scale(1);
        opacity: 1;
        &:hover {
                -moz-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -o-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05);
            }
    }
    &__pagination {
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }

    &__arrow {
        &:nth-child(1){
            margin-right: 80px;
        }
    }

    &__arrow_left {
        display: block;
        background: url('../img/topic/left_dark.svg') no-repeat center center/contain;
        width: 45px;
        height: 30px;
        transition: all 0.8s ease;
        &:hover{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    &__arrow_left.active {
        background: url('../img/topic/left_light.svg') no-repeat center center/contain;
        width: 45px;
        height: 30px;
    }

    &__arrow_right {
        display: block;
        background: url('../img/topic/right_dark.svg') no-repeat center center/contain;
        width: 45px;
        height: 30px;
        transition: all 0.8s ease;
            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
    }
    &__arrow_right.active {
        background: url('../img/topic/right_light.svg') no-repeat center center/contain;
        width: 45px;
        height: 30px;
    }
}

.blog-card {
    &__img {
        margin-bottom: 21.6px;
        border-radius: 12.236px;
    }

    &__title {
        @include fonts(21.1px, 600);
        line-height: 119%;
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__block {
        display: flex;
    }


    &__date {
        color: #B7B4B4;
    }
}
.login{
    display: flex;
    &__icon {
            margin-right: 11.4px;
            width: 43.7px;
        }
    
        &__column p {
            color: #8D8D8D;
            @include fonts(11.7px, 400);
            line-height: 150%;
        }
    
        &__column span {
            @include fonts(17px, 500);
            line-height: 153%;
        }
}

// Section Questions----------------------------------------------------------------
.questions {

    &__body {
        padding: 0 50px 222px;
    }

    &__title {
        color: #323142;
        width: 408px;
        line-height: 120%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 97px;
        position: relative;
        transition: all 0.8s ease;
        transform: scale(0);
        opacity: 0;
        &::before {
                content: "";
                position: absolute;
                background: url('../img/topic/line.svg')no-repeat center center/contain;
                width: 41px;
                height: 39px;
                top: -40px;
                right: -40px;
            }
    }
    &__title span {
        color: $bgBlue;
    }
    &__title._active {
        transform: scale(1);
        opacity: 1;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__block {
        display: flex;
        flex-direction: column;
        transition: all 1s ease;
        transform: translate(-150%, 0%);
        &:not(:first-child){
            padding-top: 28px;
            padding-bottom: 16px;
        }
        &:first-child{
            padding-bottom: 16px;
        }
        border-bottom: 1px solid #ADADAD;
    }
        &__block._active {
            transform: translate(0, 0);
        }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        
    }

    &__text {
        @include fonts(23px,600);
        line-height: 252%;
        color: #323142;
    }
    &__btn{
        background: $bgBlue;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        position: relative;
            &::before,
            &::after {
                content: "";
                border: 1px solid #FFF;
                position: absolute;
                width: 15px;
                right: 7px;
                top: 14px;
                transition: transform 0.3s ease 0s;
            }
            &::after {
                transform: rotate(-90deg);
            }
    }
    &__answer {
        padding: 0 20px;
        @include fonts(22px, 400);
        line-height: 150%;
        letter-spacing: 0.2px;
        display: none;
        margin-bottom: 10px;
    }
    &__answer.active{
        display: block;
    }
    &__row.active .questions__btn{
        &::after {
            transform: rotate(0deg);
        }
    }
}

// BLOG_PAGE================================================================================
.blog {

    &__body {
        padding: 126px 0 191px;
    }

    &__title {
        color: $bgDark;
        text-align: start;
        @include fonts(37.4px,600);
        line-height: 119%;
        margin-bottom: 32px;
        transition: all 0.8s ease;
        transform: translate(-100%, 0%);        }
        
        &__title._active {
            transform: translate(0%, 0%);
        }
    &__block {
        margin-bottom: 61.5px;
    }

    &__image {
        margin-bottom: 80px;
    }
    &__image-mobile{
        display: none;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &__text,
    &__bar {
        display: flex;
        flex-direction: column;
    }
    &__bar{
        padding-left: 47px;
        padding-right: 14px;
    }

    &__text {
        padding-right: 75px;
        border-right: 1px solid #9B9B9B;
    }

    &__content{
        &:not(:last-child){
            margin-bottom: 95px;
        }
    }
    &__btn {
        display: flex;
        width: 245px;
        @include fonts(20.3px, 600);
        line-height: 125%;
        min-height: 80px;
        position: relative;
        transition: all 0.6s ease;
        transform: scale(0);
        opacity: 0;

    }

    &__btn._active {
        transform: scale(1);
        opacity: 1;
        transition: all 1s ease 0.6s;
    }

    &__btn img {
        margin-left: 15px;
    }}


.blog__block .login{
    &__icon {
        width: 55px;
    }

    &__column {}
}

.content {
    &__title {
        color: $bgDark;
        @include fonts(33px,600);
        line-height: 135%;
        margin-bottom: 35px;
    }

    &__text,
    &__item {
        color: $bgDark;
        @include fonts(22px, 400);
        line-height: 202%;
    }

    &__items {
        margin-top: 56px;
    }

    &__item {
        position: relative;
        padding-left: 20px;
        &::before{
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            background: $bgDark;
            top: 45%;
            left: 0;
        }
    }
}

.bar {
    &__title {
        color: $bgDark;
        @include fonts(30px, 600);
        line-height: 148%;
        margin-bottom: 34px;
    }

    &__column {}

    &__card {
        width: 299px;
        padding: 21px 16.5px 23px;
        border-radius: 13.552px;
        box-shadow: 0px 0px 20px 20px  rgba(197, 197, 197, 0.25);
        transition: all 0.8s ease;
        transform: translate(150%,0%);
        &:not(:last-child){
            margin-bottom: 45px;
        }
    }
    &__card._active{
        transform: translate(0,0);
    }
}
.bar .blog-card__img {
    width: 100%;
}
.bar__card .blog-card__date {
    font-size: 13.5px;

}
.bar .blog-card .login__icon{
    width: 37.4px;
    height: 37.4px;
}
.bar .blog-card .login__column p {
    font-size: 10.1px;
}
.bar .blog-card .login__column span {
    font-size: 14.5px;
}
.bar.blog-card {
    &__link {}
    
    &__img {}

    &__title {}

    &__row {}

    &__block {}

    &__date {}
}

