// width: 996px - 1224px
@media screen and (max-width: $md) {
    // Header------------------------------------------
    .header{
        &__nav{
            margin-left: 37px;
        }
        &__block{
            margin-left: 322px;
        }
        &__btn{
            min-height: 44px;
            font-size: 12.7px;
        }
        &__login{
            font-size: 12.7px;
        }
        .logo__img{
            width: 80px;
        }
        .nav-menu__link{
            font-size: 12.7px;
        }
    }
    // Offer---------------------------------------------
    .offer{
        &__body{
            padding: 84px 0 91px;
        }
        .info__text{
            font-size: 10.7px;
            margin-bottom: 12.6px;
        }
        .info__title{
            font-size: 53px;
            margin-bottom: 11.4px;
        }
        .info__block{
            font-size: 12.8px;
            margin-bottom: 37.4px;
        }
        .info__button{
            margin-bottom: 23.5px;
        }
        .info__stars{
            width: 68px;
            height: 11px;
        }
        .info__name{
            width: 87.5px;
            height: 21.5px;
        }
        .info__raiting span{
            font-size: 11.4px;
        }
        &__image{
            &::before{
                width: 30px;
                height: 17px;
                top: -35px;
                right: -35px;
            }
            &::after{
                width: 27.1px;
                height: 23.5px;
                bottom: -40px;
                left: 45px;
            }
        }
        .image__img{
            width: 300px;
            height: 301.5px;
            border-radius: 301.5px;
            &::after{
                width: 305px;
                height: 315px;
                top: 5px;
                left: -20px;
            }
            &::before{
                width: 71.8px;
                height: 69px;
                top: 40px;
                right: -45px;
            }
        }
        .image__top{
            width: 233px;
            height: 63.6px;
            border-radius: 11.7px;
            top: -15px;
        }
        .image__bottom{
            width: 147px;
            height: 146px;
            border-radius: 11.9px;

        }
    }
    // Block---------------------------------------------------------
    .block{
        &__row{
            padding: 40px 80px;
            margin: 0 -94px;
        }
        &__column{
            padding: 0 70px;
        }
        &__quantly{
            font-size: 30.72px;
            margin-bottom: 7px;
        }
        &__text{
            font-size: 10.2px;
        }
    }
    // Benefits-------------------------------------------
    .benefits{
        &__img{
            width: 216px;
            height: 433px;
        }
        &__title{
            font-size: 36px;
            margin-bottom: 45px;
        }
        &__items{
            margin-bottom: 46px;
        }
        &__item{
            font-size: 14px;
            &:not(:last-child){
                margin-bottom: 19px;
            }
        }
        &__btn{
            &::after{
                width: 104px;
                height: 61px;
                bottom: -40px;
                right: -80px;
            }
        }
    }
    // Restaurant-----------------------------------------
    .restaurants{
        &__body{
            padding: 71px 0 85px;
        }
        &__title{
            font-size: 32px;
            margin-bottom: 60px;
        }
        &__cards{
            margin-bottom: 46px;
        }
        &__link{
            font-size: 14px;
            letter-spacing: -0.071px;
        }
        &__link img{
            width: 2%;
        }
        .cards__card{
            border-radius: 21.35px;
            box-shadow: 4.228010177612305px 50.73612976074219px 25.368064880371094px 0px rgba(229, 229, 229, 0.70);
        }
        .card__img{
            width: 282px;
        }
        .card__block{
            padding: 9px 12px 12px 24px;
        }
        .card__info{
            font-size: 9px;
            border-radius: 3.84px;
            padding: 2px 3px;
        }
        .card__title{
            font-size: 18px;
        }
        .card__text,
        .card__grade{
            font-size: 13.75px;
        }
        .card__icon{
            width: 11%;
        }
        .card__bookmark{
            width: 13%;
        }
    }
    // Dishes
    .dishes{
        &__card{
            &:not(:last-child){
                margin-right: 21px;
            }
        }
        &__link{
            font-size: 14.2px;
        }
        &__link img{
            width: 2%;
        }
        .dish{
            padding: 12px;
            
        }
        .dish__heart{
            margin-bottom: 0;
        }
        .dish__img{
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        .dish__info{
            font-size: 8px;
            padding: 0px 3px;
        }
        .dish__title{
            font-size: 16.4px;
        }
        .dish__text,
        .dish__grade{
            font-size: 12.3px;
        }
        .dish__icon{
            width: 14%;
            margin-right: 4px;
        }
        .dish__check{
            font-size: 13.4px;
        }
        .dish__check strong{
            font-size: 18.4px;
        }
        .dish__add{
            width: 17%;
            padding: 5px 6px;
        }

    }

}


// width: 767px - 936px
@media screen and (max-width: $md1) {
    // Header-----------------------------------
    .header{
        &__block{
            margin-left: 180px;
        }
    }
    // Offer---------------------------------------------
    .offer{
        &__image{
            padding-left: 0;
            &::before{
                right: -15px;
            }
            &::after{
                bottom: -5px;
                left: 5px;
            }
        }
        .image__top{
            right: 10px;
        }
        .image__bottom{
            bottom: 15px;
            left: 30px;
        }
    }
    // Block--------------------------------------------------
    .block {
        &__row {
            padding: 40px 20px;
            margin: 0 -20px;
        }

        &__column {
            padding: 10px;
        }
    }
    // Benefits-----------------------------------------------
    .benefits{
        &__body{
            padding: 90px 10px;
        }
    }
    // Restaurants
    .restaurants{
        &__body{
            padding: 60px 0;
        }
        .card__block{
            padding: 9px;
        }
        .card__img{
            width: 220px;
        }
        .card__bookmark{
            width: 16%;
        }
    }
 }



// width: 561px - 766px
@media screen and (max-width: $md2) {
    // Header-------------------------------------
    .header{
        &__block{
            margin-left: 50px;
        }
        &__btn{
            min-height: 37px;
            margin-left: 20px;
        }
        .nav-menu__item:not(:last-child){
            margin-right: 18px;
        }
    }
    // Offer------------------------------------------
    .offer{
        &__body{
            flex-direction: column;

        }
        &__info{
            margin-bottom: 50px;
        }
        &__image{
            padding: 0;
            &::after{
                bottom: -65px;
            }
        }
        .image__bottom{
            bottom: -45px;
        }
    }
    // Block--------------------------------------------------
    .block{
        &__row{
            padding: 40px 0;
            margin: 0 -10px;
        }
    }
    // Benefits--------------------------------------------------
    .benefits{
        &__btn{
            font-size: 11.5px;
        }
        &__btn img{
            width: 15%;
        }
    }
    // Restaurants---------------------------------------------
    .restaurants{
        &__cards{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__link img {
            width: 3%;
        }
        .cards__card{
            &:not(:last-child){
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        .card__img{
            width: 100%;
        }
        .card__bookmark{
            width: 9%;
        }
    }
}


// width: 320px - 560px
@media screen and (max-width: $md3) {
    .header {
        &__nav{
            margin-left: 0;
        }
        &__block{
            justify-content: center;
            margin-top: 30px;
            margin-left: 0;
        }

        &__burger {
            display: block;
            position: relative;
            width: 28px;
            height: 22px;
            z-index: 1000;
            cursor: pointer;
        }

        &__burger span,
        &__burger::before,
        &__burger::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #6e6565;
        }

        &__burger::before,
        &__burger::after {
            content: "";
        }

        &__burger::before {
            top: 0;
        }

        &__burger::after {
            bottom: 0;
        }

        &__burger span {
            top: 50%;
            transform: scale(1) translate(0px, -80%);
        }

        &__burger.active span {
            transform: scale(0) translate(0px, -80%);
        }

        &__burger.active::before {
            top: 50%;
            transform: rotate(-40deg) translate(0px, -80%);
        }

        &__burger.active::after {
            bottom: 50%;
            transform: rotate(40deg) translate(0px, 80%);
        }
        &__navigation {
            position: fixed;
            overflow: auto;
            top: 80px;
            left: -100%;
            width: 100%;
            height: auto;
            background: #FFF;
            border-radius: 19px;
            box-shadow: 4.787878513336182px 7.979798793792725px 23.939395904541016px 0.7979797124862671px rgba(108, 95, 188, 0.12);
            padding: 20px 30px;
            transition: left 0.3s ease;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__navigation.active {
            left: 0;
        }

        .nav__item:not(:last-child) {
            margin-bottom: 0px;
        }
        .nav-menu{
            justify-content: center;
        }
    }
    // Offer------------------------------------------
    .offer{
        &__body{
            padding: 57px 0 75px;
        }
        &__info{
            margin-bottom: 78px;
        }
        .info__text{
            font-size: 9.2px;
            margin-bottom: 5px;
            text-align: center;
            color: #201F1F;
            &::before{
                width: 33.2px;
                height: 0.6px;
                opacity: 1;
                left: 70px;
            }
        }
        .info__title{
            display: none;
        }
        .info__title_mobile{
            display: block;
            font-size: 46.2px;
            margin-bottom: 15.77px;
            text-align: center;
        }
        .info__block{
            font-size: 11.1px;
            margin-bottom: 21px;
            text-align: center;
            width: 100%;
        }
        .info__button{
            justify-content: center;
        }
        .info__raiting{
            justify-content: center;
        }
        &__image{
            &::before{
                width: 20px;
                height: 11px;
                right: -10px;
                top: -40px;
            }
            &::after{
                width: 18px;
                height: 16px;
                left: 15px;
                bottom: -60px;
            }
        }
        .image__top{
            width: 156px;
            height: 42px;
            top: -30px;
        }
        .image__bottom{
            width: 98px;
            height: 97px;
        }
        .image__img{
            width: 200px;
            height: 201px;
            border-radius: 201px;
            &::after{
                width: 203px;
                height: 210px;
                left: -12px;
            }
            &::before{
                width: 47px;
                height: 46px;
                top: 10px;
                right: -20px;
            }
        }
    }
    // Block------------------------------------------
    .block{
        &__row{
            flex-direction: column;
            padding: 95px 50px;
        }
        &__column{
            position: relative;
            &:not(:last-child){
                margin-bottom: 120px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0.5px;
                    opacity: 0.15;
                    background: #C5C5C5;
                    bottom: -60px;
                    left: 0;
                }
            }
        }
    }
    // Benefits-----------------------------------------
    .benefits{
        &__body{
            flex-direction: column-reverse;
            padding: 67px 10px;
            align-items: center;
        }
        &__btn{
            margin: 0 auto;
            margin-bottom: 110px;
            &::after{
                width: 204px;
                height: 41px;
                right: 0;
                left: -130px;
                transform: rotate(110deg);
                bottom: -60px;
            }
        }
        &__title{
            text-align: center;
        }
    }
    // Restaurants
    .restaurants{
        &__title{
            line-height: 150%;
        }
        .cards__card{
            box-shadow: 4.729576587677002px 56.75491714477539px 28.377458572387695px 0px rgba(229, 229, 229, 0.70);
        }
        .card__bookmark{
            width: 11%;
        }
    }
    
}