@import "_reboot";



// Variable
// $maxWidth: 1920px;
// $maxWidthContainer: 1297px;

$md: 1259.9px;
$md1: 895.9px;
$md2: 767px;
$md3: 560px;


$bgBlue: #6C5FBC;
$bgGrey:#676767;
$bgBlack: #18181B;
$bgDark:#252525;

// Mixin
@mixin fonts($fz, $fw) {
    font-size: $fz;
    font-weight: $fw;
}

body{
    font-family: 'Inter', sans-serif;
    color: #676767;
    background-color: #F9F9F9;

}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
[class*="__container"] {
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
        @media(max-width: $md) {
            max-width: 896px;
            padding: 0 10px;
        }
        @media(max-width: $md1) {
            min-width: 768px;
            padding: 0 20px;
        }
        @media(max-width: $md2) {
            min-width: 561px;
            padding: 0 20px;
        }
        @media(max-width: $md3) {
            min-width: 320px;
            padding: 0 30px;
        }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
h3 {
    @include fonts(45px, 600);
    line-height: 56.8%;
    margin-bottom: 85px;
    text-align: center;
    @media(max-width: $md) {
            font-size: 32px;
            margin-bottom: 60px;
        }
    @media(max-width: $md){
        font-size: 30px;
    }
}
.btn {
    display: flex;
    padding: 0 25px;
    min-height: 62px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: $bgBlue;
    border-radius: 12.412px;
    color: #F9F9F9;
    font-family: Poppins;
    @include fonts(17px,700);
    line-height: 150%;
    transition: all 0.6s ease;
    &:hover{
        background: #3b3851;
    }
    @media(max-width: $md){
        font-size: 11.6px;
        min-height: 42px;
    }
    @media(max-width: $md2){
        padding: 0 15px;
    }
}
.btn-ghost {
    display: flex;
    padding: 0 25px;
    min-height: 62px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $bgBlue;
    border-radius: 12.4px;
    border: 1.5px solid $bgBlue;
    font-family: Poppins;
    @include fonts(17px, 700);
    line-height: 150%;
    transition: all 0.6s ease;

    &:hover {
        background: #3b3851;
        color: #fff;
    }
    @media(max-width: $md) {
        font-size: 11.6px;
        min-height: 42px;
    }
}

// Header--------------------------------------------------------------

.header {
    transition: all 1s ease;
    &__body {
        padding: 34px 0 18px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #CBCBCB;
        justify-content: space-between;
    }
    &__navigation {
        display: flex;
        align-items: center;
    }
    &__nav {
        margin-left: 103px;
    }
    &__menu {
        display: flex;
        }
    &__block {
        display: flex;
        margin-left: 425px;
    }
    &__login {
        @include fonts(17.8px, 500);
        line-height: 150%;
        color: #606060;
    }
    &__btn {
        font-family: Inter;
        border-radius: 12.7px;
        margin-left: 25px;
    }
    &__burger{
        display: none;
    }
}
.header.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}
.logo{
    transition: all 0.6s ease;
    overflow: hidden;
        &:hover{
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
    }
}
.nav-menu {
    &__item {
        &:not(:last-child){
            margin-right: 38px;
        }
        transition: all 0.6s ease;
        overflow: hidden;

        &:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    &__link {
        color: #606060;
        @include fonts(17.8px,500);
        line-height: 150%;
    }
}
// Section OFFER ----------------------------------------------------
.offer {
    &__body {
        padding: 119px 0 120px;
        display: flex;
        position: relative;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__image {
        padding: 30px 0px 0 90px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background:url('../img/offer/lines1.svg')no-repeat center center/contain ;
            width: 42px;
            height: 28px;
            top: -60px;
            right: -40px;
        }
        &::after {
            content: "";
            position: absolute;
            background: url('../img/offer/lines2.svg')no-repeat center center/contain;
            width: 39px;
            height: 37px;
            bottom: -50px;
            left: 35px;
        }
    }
}

.info {
    flex: 1 1 auto;
    &__text {
        color: rgba(32, 31, 31, 0.20);
        font-family: Poppins;
        @include fonts(15px,600);
        line-height: 120%;
        letter-spacing: 2px;
        padding-left: 60px;
        position: relative;
        margin-bottom: 18px;
        text-transform: uppercase;
        &::before{
            content: "";
            position: absolute;
            width: 54px;
            height: 1px;
            opacity: 0.2;
            background: #201F1F;
            top: 8px;
            left: 0;
        }
    }
    &__title {
        color: #201F1F;
        @include fonts(75px,600);
        line-height: 120%;
        letter-spacing: -3px;
        margin-bottom: 16px;
        transition:  all 0.8s ease;
        transform: scale(0);
        opacity: 0;
    }
    &__title._active{
        transform: scale(1);
        opacity: 1;
    }
    &__title_mobile{
        display: none;
    }
    &__title span{
        color: #5C4EAE;
    }
    &__block {
        @include fonts(18px, 400);
        line-height: 155.5%;
        opacity: 0.7;
        margin-bottom: 53px;
        width: 90%;
    }
    &__block span{
        color: #6155AE;
        font-weight: 500;
    }
    &__button {
        display: flex;
        margin-bottom: 33px;
        align-items: center;
    }
    &__raiting {
        display: flex;
        align-items: center;
    }
    &__raiting span{
        color: var(--blue-gray-700, #334155);
        font-family: Plus Jakarta Sans;
        @include fonts(16px,500);
        line-height: 150%;
        opacity: 0.7;
        text-transform: uppercase;
    }
    &__name {
        margin-right: 20px;
    }
    &__stars {
        display: flex;
        margin-right: 9px;
    }
    &__star {
        &:not(:last-child){
            margin-right: 4px;
        }
    }
}
.button-offer {
    &__btn-ghost {
        margin-left: 18px;
    }
}
.image {
    flex: 0 0 55%;
    &__img{
        position: relative;
        width: 422px;
        height: 424px;
        border-radius: 424px;
        background: linear-gradient(137deg, #6C5FBC 0%, #5144A0 100%);
        display: block;
        margin: 0 auto;
        &::after{
            content: '';
            position: absolute;
            background: url(../img/offer/plate.png) no-repeat center center/contain;
            width: 430px;
            height: 445px;
            top:8px;
            left: -28px;
        }
        &::before{
            content: "";
            position: absolute;
            background: url('../img/offer/arrow.svg') no-repeat center center/contain;
            width: 101px;
            height: 98px;
            top: 50px;
            right: -60px;
        }
    }
    &__img._active{
        animation: rotate 30s infinite linear; 
    }
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }
    &__top {
        position: absolute;
        top: -30px;
        right: 0;
        border-radius: 16.4px;
        box-shadow: (-9.843755722045898px 12.304695129394531px 20.50782585144043px rgba(0, 0, 0, 0.15));
        transform: translate(50%,-120%);
        opacity: 0;
        transition: all 0.8s ease;
    }
    &__top._active{
        transform: translate(0, 0);
        opacity: 1;
    }
    &__bottom {
        position: absolute;
        bottom: -15px;
        left: 70px;
        border-radius: 16.4px;
        box-shadow: (13.407440185546875px -16.759300231933594px 27.93216896057129px rgba(0, 0, 0, 0.15));
        transform: translate(50%,-120%);
        opacity: 0;
        transition: all 0.8s ease;
    }
    &__bottom._active{
        transform: translate(0, 0);
        opacity: 1;
    }
}
// Block--------------------------------------------------
.block {
    background: #5C4EAE;
    &__row {
        padding: 49px 152px;
        display: flex;
        margin: 0px -132px;
    }
    &__column {
        padding: 0px 88px;
        flex: 0 1 33.333%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__quantly {
        font-family: Public Sans;
        @include fonts(43.2px,700);
        line-height: 125%;
        color: #fff;
        margin-bottom: 10.8px;
    }
    &__text {
        color: #C5BFED;
        text-align: center;
        font-family: Inter;
        @include fonts(14.4px,500);
        line-height: 150%;
    }
}
// Section BENEFITS------------------------------------------------------
.benefits {
    &__body {
        padding: 120px 30px 120px 111px;
        border-bottom: 1px solid #CBCBCB;
        display: flex;
    }

    &__image {
        flex: 0 0 50%;
        transform: translate(-120%, 0);
        transition: all 0.6s ease;
    }
    &__image._active{
        transform: translate(0, 0);
    }
    &__info {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: Poppins;
        @include fonts(51px,700);
        line-height: 114%;
        color: $bgBlack;
        margin-bottom: 63px;
        transition: all 0.8s ease;
        transform: scale(0);
        opacity: 0;
        }
    &__title._active {
        transform: scale(1);
        opacity: 1;
    }
    &__title span{
        color: $bgBlue;
    }
    &__items {
        margin-bottom: 66px;
    }
    &__items li{
        transform: translate(120%, 0);
        transition: all 0.6s ease;
    }
    &__items._active li {
        transform: translate(0, 0);
    }
    &__items._active li:nth-child(1) {
        transition: all 0.8s ease 0s;
    }
    &__items._active li:nth-child(2) {
        transition: all 0.8s ease 0.5s;
    }
    &__item {
        font-family: Inter;
        @include fonts(20px,400);
        line-height: 150%;
        color: $bgGrey;
        position: relative;
        padding-left:20px;
        &:not(:last-child){
            margin-bottom: 28px;
        }
        &::before{
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background-color: $bgGrey;
            top: 10px;
            left: 0;
        }
    }
    &__btn {
        display: flex;
        width: 186px;
        @include fonts(18px,500);
        line-height: 125%;
        position: relative;
        transition: all 0.6s ease;
        transform: scale(0);
        opacity: 0;
        &::after{
            content: "";
            position: absolute;
            background: url('../img/benefits/arrow.svg') no-repeat center center/contain;
            width: 164px;
            height: 164px;
            bottom: -90px;
            right: -140px;
        }
    }
    &__btn._active{
        transform: scale(1);
        opacity: 1;
        transition: all 1s ease 0.6s;
    }
    &__btn img{
        margin-left: 15px;
    }
}
// Restaurants--------------------------------------------------------------
.restaurants {
    &__body {
        padding: 100px 0 120px;
        border-bottom: 1px solid #CBCBCB;
    }
    &__title span{
        color: $bgBlue;
    }
    &__cards {
        display: flex;
        justify-content: space-around;
        margin-bottom: 66px;
        transition: all 1.5s ease;
        transform: translate(-150%, 0%);
    }
    &__cards._active{
        transition: all 1.5s ease 0.5s;
        transform: translate(0,0);
    }
    &__link {
        color:#ACADB9;
        font-family: Poppins;
        @include fonts(20px,500);
        line-height: 226%;
        letter-spacing: -0.1px;
        display: flex;
        justify-content: flex-end;
    }
    &__link img{
        margin-left: 10px;
    }
}
.cards {
    &__card {
        // flex: 0 1 30.333%;
        border-radius: 30.23px;
        box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px rgba(229, 229, 229, 0.70);
        transition: all 0.6s ease;
        &:not(:last-child){
            margin-right: 30px;
        }
        &:hover {
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
}
.card {
    &__img {
        border-radius: 30.023px 30.023px 0px 0px;
        }
    &__block{
        display: flex;
        background: #fff;
        border-radius: 0px 0px 30.023px 30.023px ;
        padding: 11px 17px 18px 33px;
    }
    &__info {
        @include fonts(12.8px,400);
        font-family: Poppins;
        line-height: 150%;
        display: inline-block;
        padding: 5px;
        border-radius: 5.4px;
    }
    &__info_card1,
    &__info_card3{
        color: #DAA31A;
        background-color: #F7EDD0;
    }
    &__info_card2{
        color: #FB471D;
        background-color: #F7C5BA;
    }
    &__title {
        color: #323142;
        @include fonts(25.8px,600);
        line-height: 163%;
    }
    &__row {
        display: flex;
    }
    &__text,
    &__grade {
        color: #8E97A6;
        font-family: Manrope;
        @include fonts(19px,400);
        line-height: 133%;
    }
    &__text{
        margin-right: 6.5px;
    }
    &__icon {
        margin-right: 6.5px;
    }
    &__bookmark {
        display: block;
        margin-left: auto;
        margin-top: auto;
        background: #DBD9EE;
        padding: 8px 10px;
        border-radius: 40.085px;
    }
}
// Dishes--------------------------------------------------------
.dishes {
    &__body {
        padding: 100px 0 120px;
        border-bottom: 1px solid #CBCBCB;
    }
    &__title span {
        color: $bgBlue;
    }
    &__cards {
        margin-bottom: 65px;
        display: flex;
        transition: all 0.8s ease;
        transform: translate(0%,20%);
    }
    &__cards._active{
        transform: translate(0,0);
    }
    &__card {
        flex: 0 1 20%;
        border-radius: 34.581px;
        box-shadow: 6.84841775894165px 82.18101501464844px 41.09050750732422px 0px rgba(229, 229, 229, 0.70);
        transition: all 0.8s ease;
        &:not(:last-child){
            margin-right: 30px;
        }
        &:hover {
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
    &__link {
        color: #ACADB9;
        font-family: Poppins;
        @include fonts(20px, 500);
        line-height: 226%;
        letter-spacing: -0.1px;
        display: flex;
        justify-content: flex-end;
    }
    &__link img {
        margin-left: 10px;
    }
}
.dish {
    padding: 20px;
    &__heart {
        display: block;
        margin-left: auto;
        margin-bottom: -15px;
    }
    &__info {
        @include fonts(12.8px, 400);
        font-family: Poppins;
        line-height: 150%;
        display: inline-block;
        padding: 5px;
        border-radius: 5.4px;
    }
    &__info_dish2,
    &__info_dish5 {
        color: #FB471D;
        background-color: #F7C5BA;
    }
    &__info_dish1,
    &__info_dish4 {
        color: #DAA31A;
        background-color: #F7EDD0;
    }
    &__info_dish3{
        color: #309D5B;
        background-color: #33ac643b;
    }

    &__title {
        @include fonts(23px,600);
        line-height: 162.5%;
        color: #323142;
    }
    &__row {
        display: flex;
        margin-bottom: 13px;
    }
    &__text,
    &__grade {
        color: #8E97A6;
        font-family: Manrope;
        @include fonts(19px, 400);
        line-height: 133%;
    }
    &__text {
        margin-right: 6.5px;
    }
    &__icon {
        margin-right: 6.5px;
    }
    &__check {
        display: flex;
        justify-content: space-between;
        font-family: Manrope;
        @include fonts(19px,700);
        line-height: 155%;
        color: #8E97A6;
    }
    &__check strong{
        @include fonts(26px, 700);
        color: #323142;
    }
    &__add {
        border-radius: 8.93px;
        background: #323142;
        padding: 12px 14px;
    }
}
// Slider---------------------------------------------------------
.slider {
    &__body {
        padding: 116px 0 110px;
    }
    &__title span{
        color: $bgBlue;
    }
    &__swiper {
        padding: 10px 15px;
    }
}
.swiper {
    &__cards {
        display: flex;
        padding-bottom: 20px;
    }
}
.swiper-slide, 
.slide {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 38px 43px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(221, 221, 221, 1);
        &__row {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            display: none;
        }
        &__img {
            border-radius: 41.8px;
            margin-right: 20.9px;
        }
        &__info {
            display: flex;
            flex-direction: column;
        }
        &__name {
            color: #030314;
            font-family: Poppins;
            @include fonts(21px,500);
            font-size: 20.893px;
            line-height: 150%;
        }
        &__text {
            color: #5E5D5D;
            font-family: Quicksand;
            @include fonts(16.7px,500);
            line-height: 156%;
        }
        &__icon {
            margin-left: auto;
        }
        &__review {
            color: #636363;
            font-family: Poppins;
            @include fonts(18px,400);
            font-style: italic;
            line-height: 145%;
            margin-bottom: 39px;
        }
        &__rait {
            width: 138px;
        }
}
.swiper-slide-active
.slide {
    &__row {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 28px);
    left: 52%;
    width: 48%;
    text-align: start;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px);
}
.swiper-pagination-bullet{
    width: 20%;
    border-radius: var(--swiper-pagination-bullet-border-radius, 13%);
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    background: var(--swiper-pagination-bullet-inactive-color, #6C5FBC);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
.swiper-pagination-bullet-active{
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #6C5FBC;
    // color: #6C5FBC;
}
.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: var(--swiper-scrollbar-sides-offset, 45%);
    bottom: var(--swiper-scrollbar-bottom, 34px);
    top: var(--swiper-scrollbar-top, auto);
    z-index: 50;
    height: var(--swiper-scrollbar-size, 11px);
    width: calc(100% - 3 * var(--swiper-scrollbar-sides-offset, 15%));
    border-radius: 50px;
    background-color: $bgBlue;
    opacity: 0.2;
    display: none;
}
.swiper-scrollbar-drag{
    background-color: #030314;
}
// Coupon-------------------------------------------------------
.coupon {
    &__body {
        padding: 87px 0 153.6px;
    }
    &__row{
        background: $bgBlue url('../img/coupon/fon.png');
        border-radius: 21.33px;
        padding: 26px 50px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__text {
        color: #FFF;
        font-family: Poppins;
        @include fonts(70px,800);
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 6px;
    }
    &__image {
        margin-top: 37px;
        margin-bottom: -95px;
    }
&__img._active {
    animation: rotate 30s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
}
.form__row{
    display: flex;
    border-radius: 10.122px;
    background-color: #FFF;
    align-items: center;
    padding-right: 10px;
    width: 453px;
    justify-content: space-between;
}
.form__row.error {
    border: 2px solid red;
}
.coupon-email {
    min-height: 48.4px;
    padding: 0 5px;
    border-radius: 10.122px;
    color: #878787; 
    @include fonts(16.3px, 400);
    letter-spacing: 0.488px;
}
.coupon-btn {
    border-radius: 8.002px;
    background: $bgBlue;
    display: flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F7F8FA;
    padding: 10px 18px;
    font-family: Poppins;
    @include fonts(14.7px,500);
    letter-spacing: 0.315px;
    text-transform: uppercase;
}
.form__error-message{
    display: none;
}
.form__error-message.active{
    display: block;
    color: #fff;
    @include fonts(16.3px, 400);
    letter-spacing: 0.488px;
    margin-top: 10px;
}
// Message---------------------------------------
.message {
    padding: 20px 40px;
    background: $bgBlue;
    position: fixed;
    overflow: auto;
    top: 154px;
    right: -100%;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #fff;
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        color: #fff;
        font-family: Poppins;
        @include fonts(21px, 500);
       line-height: 150%;
    }
    &__text {
        color: #fff;
        font-family: Poppins;
        @include fonts(18px, 500);
        line-height: 150%;
    }
}
.message.active{
    z-index: 100;
    right: 144px;
    animation-name: modal-open;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    @keyframes modal-open {
        0% {
            right: -100%;
        }
        20% {
            right: 144px;
        }
        50% {
            right: 144px;
        }
        80% {
            right: 144px;
        }
        100% {
            right: -100%;
        }
        }
}
// Footer---------------------------------------------------
.footer {
    background: #EAEAEA;
    &__body {
        padding: 103px 0 81px;
    }
    &__top-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d2d0d0;
        padding-bottom: 22px;
    }
    &__menu {
        display: flex;
    }
    &__down-row {
        display: flex;
        justify-content: space-between;
        padding-top: 52px;
    }
    &__policy {
        color: #999;
        font-family: Inter;
        @include fonts(17px,500);
        line-height: 147.1%;
    }
    &__social {
        display: flex;
        align-items: center;
    }
}
.nav-menu {
    &__item {
        &:not(:last-child){
            margin-right: 70px;
        }
    }
    &__link {
        color: #999;
        font-family: Inter;
        @include fonts(17.8px,500);
        line-height: 150%;
    }
}
.social {
    &__icon{
        position: relative;
        &:not(:last-child) {
            margin-right: 54px;
            }
        &:last-child {
        margin-right: 12px;
        }
    }
    &__name{
        position: absolute;
        top: 0;
        font-size: 14px;
        background: #ffffff;
        color: #fff;
        padding: 8px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &::before{
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: $bgBlue;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
    }
}
.social .social__icon:hover .social__name{
    background-color: $bgBlue;
    top: -45px;
    left: -30px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}





@import "_blog";
@import "_responsive";


